.icons{
    @extend .row;
    &__square{
        @extend .col-6;
        @extend .col-md-3;
    }
}
.sq{
    @extend .h-100;
    @extend .d-flex;
    @extend .flex-column;
    @extend .justify-content-end;
    &__photo{
        @extend .text-center;
        & > img{
            @extend .img-fluid;
            width: 160px * 0.7;
        }
    }
    &__text{
        color: #174679;
        max-width: 175px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        @extend .pt-3;
        height: 125px;
    }
}