.company{
    @extend .container-fluid;
}
.iconscntr{
    @extend .container-fluid;
    margin-top: 3rem;
}
.triplecntr{
    @extend .container-fluid;

}
.attachmentscntr{
    @extend .container-fluid;
    margin-top: 3rem;
}
.footercntr{
    @extend .container-fluid;
    @extend .p-0;
}
.menucntr{
    @extend .container;
    @extend .p-0;
}
.newscntr{
    @extend .container-fluid;
    @extend .mt-5;
    //@extend .p-5;
}
.photocntr{
    @extend .container-fluid;
    @extend .p-0;
}
.searchcntr{
    @extend .container-fluid;
    background-color: #eaebf0;
    z-index: 3;
    position: sticky;
    bottom: 135px;
}
@include media-breakpoint-down(md) {
    .home-carousel{
        margin-top: 123.5px;
    }
}

@media screen and (max-width: 992px) {
    .searchcntr{
        bottom: 0px;
    }
}