<div class="form__title">
    {{ 'Formularz zgłoszeniowy'|_ }}
    <div class="form__title-sub">(Umowa na realizację szkolenia)</div>
</div>
<form data-request="onSave" data-request-flash data-request-update="_formadd: '#form'">

    <div class="form__box" >
        <label class="contact-form__label">{{ 'Wybierz szkolenie'|_ }}:</label><br>
        <select name="lesson" class="search__form--choose">
            <option disabled hidden selected>{{ 'Szkolenie'|_ }}</option>
            {% for lesson in lessons %}
            <option value="{{ lesson.id }}"{% if selectLessonId == lesson.id%} selected{% endif %}>
                {{ lesson.title|striptags|raw }}, {{ lesson.date|date("d-m-Y") }} - {{ lesson.date_to|date("d-m-Y") }}, {{ lesson.price }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="form__box" >
        <div class="form__title--sm">
            {{ 'Zgłaszane osoby'|_ }}
        </div>
        <div id="personList">
            <div class="js-person-row form__row" data-person-id="0">
                <div class="form__col">
                    <label class="contact-form__label">{{ 'Imię i nazwisko'|_ }}:</label><br>
                    <input maxlength="64" name="persons[0][name]" class="contact-form__input" required>
                </div>
                <div class="form__col">
                    <label class="contact-form__label">{{ 'Stanowisko'|_ }}:</label><br>
                    <input maxlength="32" name="persons[0][workplace]" class="contact-form__input">
                </div>
            </div>
        </div>
        <div class="form__row form__row--center">
            <a id="addPerson" class="form__button"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'Dodaj Kursanata' }}</a>
        </div>
    </div>
    <div class="form__box">
        <div class="form__title--sm">
            Dane firmy
        </div>
        <div class="form__row">
            <div class="form__col">
                <label class="contact-form__label">{{ 'Firma'|_ }}:</label><br>
                <input maxlength="64" name="company" class="contact-form__input">
            </div>
            <div class="form__col">
                <label class="contact-form__label">{{ 'Adres'|_ }}:</label><br>
                <input maxlength="128" name="address" class="contact-form__input" >
            </div>
            <div class="form__col">
                <label class="contact-form__label">{{ 'NIP'|_ }}: </label><br>
                <input maxlength="13" name="tax_no" class="contact-form__input">
            </div>
            <div class="form__col">
                <label class="contact-form__label">{{ 'Miejscowosć'|_ }}: </label><br>
                <input maxlength="64" name="city" class="contact-form__input" >
            </div>
            <div class="form__col">
                <label class="contact-form__label">{{ 'E-mail'|_ }}: </label><br>
                <input type="email" name="email" maxlength="128" class="contact-form__input" >
            </div>
            <div class="form__col">
                <label class="contact-form__label">{{ 'Kod pocztowy'|_ }}: </label><br>
                <input maxlength="6" name="post_code" class="contact-form__input">
            </div>
            <div class="form__col">
                <label class="contact-form__label">{{ 'Telefon'|_ }}:</label><br>
                <input maxlength="16" name="phone" type="tel" class="contact-form__input" >
            </div>
            <div class="form__col">
                <label class="contact-form__label">{{ 'Fax'|_ }}:</label><br>
                <input maxlength="16" name="fax" type="tel" class="contact-form__input">
            </div>
            <div class="form__col--lg">
                <label class="contact-form__label">{{ 'Uwagi'|_ }}:</label><br>
                <input maxlength="255" name="comments" class="contact-form__input">
            </div>
        </div>
    </div>
    <div class="form__box">
        {% if sources %}
        <div class="form__title--sm">
            <div class="row justfy-content-between">
                <div class="col-md-7">{{ 'Skąd dowiedziałeś się o szkoleniu'|_ }}:</div>
                <div class="col-md-3">
                    <select name="source_id" class="form__select">
                        {% for source in sources %}
                        <option value="{{ source.id }}">{{ source.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="form__box">
        <div class="form__row">

            <div class="col form__checktext">
                 1. Oświadczamy, że szkolenie jest finansowane:
                    <ol type="a">
                        <li>
                            <input class="form__checkbox" name="tax_rules" value="1"  type="radio">
                            w całości zgodnie z treścią art. 43 ust. 1 pkt 29 lit. c ustawy z dnia 11.03.2004 r.
                            o podatku od towarów i usług (Dz.U. Nr 54, poz. 535 ze zm.) lub
                        </li>
                        <li>
                            <input class="form__checkbox" name="tax_rules" value="2"  type="radio">
                                w co najmniej 70% zgodnie z treścią § 13 ust. 1 pkt 20 rozporządzenia Ministra
                                Finansów z dnia 22.12.2010 r. w sprawie wykonania niektórych przepisów ustawy o podatku
                                od towarów i usług (Dz. U. Nr 246, poz. 1649).
                        </li>
                    </ol>
            </div>
        </div>
        <div class="form__row">
            <div class="col" style="max-width: 30px;">
                <input class="form__checkbox" name="rules[]" value="1" type="checkbox">
            </div>
            <div class="col form__checktext">
                 2. Wyrażam zgodę na przetwarzanie danych osobowych w celach handlowych i marketingowych przez Centrum Rozowoju Zawodowego SENEKA oraz otrzymywanie od Centrum Rozowoju Zawodowego SENEKA  informacji handlowych drogą elektroniczną zgodnie z Ustawą RODO z dnia 10 maja 2018, Dz.U. 2018 poz. 1000.  Zawarte w formularzu zgłoszeniowym dane osobowe przetwarzane będą tylko i wyłącznie przez firmę CRZ Seneka, a ich podanie ma charakter dobrowolny. Mam świadomość, że przysługuje mi prawo wglądu do swoich danych, a także prawo sprzeciwu wobec ich ewentualnego wykorzystywania w celu przesyłania aktualnych ofert szkoleń organizowanych przez CRZ Seneka.
            </div>
        </div>
        <div class="form__row">
            <div class="col" style="max-width: 30px;">
                <input class="form__checkbox" name="rules[]" value="2" type="checkbox">
            </div>
            <div class="col form__checktext">
                <p>3. Oświadczam, że wszystkie osoby, których dane osobowe zostały podane w formularzu zgłoszeniowym wyrażają zgodę na przetwarzanie swoich danych osobowych przez CENTRUM ROZWOJU ZAWODOWEGO SENEKA S.C  w celu realizacji umowy na usługę szkoleniową zgodnie ze zgłoszeniem. Oświadczam, że osoby podały swoje dane dobrowolnie i są one zgodne z prawdą. Oświadczam, że osoby zapoznały się z treścią klauzuli informacyjnej, w tym informacją o celu i sposobach przetwarzania danych osobowych oraz prawie dostępu do treści swoich danych i prawie ich poprawiania, oraz prawie żądania do zaprzestania ich przetwarzania (dot. osoby zgłaszającej (kontaktowej))*</p>
            </div>
        </div>
        <div class="form__row">
            <div class="col" style="max-width: 30px;">
                <input class="form__checkbox" name="rules[]" value="3" type="checkbox">
            </div>
            <div class="col form__checktext">
                4. Wyrażam zgodę na otrzymywanie informacji handlowych drogą elektroniczną od CENTRUM ROZWOJU ZAWODOWEGO SENEKA S.C na podany adres e-mail (zgodnie z ustawą z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz.U. z 2016 r. poz. 1030 ze zm.). W każdym momencie przysługuje mi prawo do odwołania powyższej zgody.
            </div>
        </div>
        <div class="form__row">
            <div class="col" style="max-width: 30px;">
                <input class="form__checkbox" name="rules[]" value="4" type="checkbox">
            </div>
            <div class="col form__checktext">
                5. Wyrażam zgodę na przetwarzanie danych osobowych zamieszczonych w powyższym formularzu zgłoszeniowym w celu przesyłania informacji handlowych i marketingu bezpośredniego.
                <p>* Wyrażenie zgody na przetwarzanie danych osobowych jest niezbędne do zawarcia umowy</p>
            </div>
        </div>
        <div class="form__row">
            <div class="col" style="max-width: 30px;">

            </div>
            <div class="col form__checktext">
                <p>Informujemy, że:</p>
                <ol>
                    <li>administratorem Pani/Pana danych osobowych jest CENTRUM ROZWOJU ZAWODOWEGO SENEKA S.C  z siedzibą w Zielonej Górze, ul. Dąbrowskiego 40, zwany dalej Administratorem; Administrator prowadzi operacje przetwarzania Pani/Pana danych osobowych, e-mail:biuro@crzseneka.com.pl</li>
                    <li>Pani/Pana dane osobowe przetwarzane będą w celu realizacji usługi szkoleniowej bądź innym celu, na który wyraziła Pani/Pan zgodę,</li>
                    <li>podstawą przetwarzania Pani/Pana danych osobowych jest umowa o realizację usługi szkoleniowej,</li>
                    <li>podanie danych jest niezbędne do zawarcia umowy, w przypadku niepodania danych niemożliwe jest zawarcie umowy,</li>
                    <li>posiada Pani/Pan prawo do:
                        <ul>
                            <li>żądania od Administratora dostępu do swoich danych osobowych, ich sprostowania, usunięcia lub ograniczenia przetwarzania danych osobowych,</li>
                            <li>wniesienia sprzeciwu wobec takiego przetwarzania,</li>
                            <li>wniesienia skargi do organu nadzorczego,</li>
                            <li>cofnięcia zgody na przetwarzanie danych osobowych.</li>
                        </ul>
                    </li>
                    <li>Pani/Pana dane osobowe nie podlegają zautomatyzowanemu podejmowaniu decyzji, w tym profilowaniu,</li>
                    <li>Pani/Pana dane osobowe będą przechowywane przez CENTRUM ROZWOJU ZAWODOWEGO SENEKA S.C. najpóźniej do momentu cofnięcia zgody przez Panią/Pana</li>
                </ol>
            </div>
        </div>
        <div class="form__row">
            <div class="col" style="max-width: 30px;">
                <input class="form__checkbox" name="rules[]" value="6" type="checkbox">
            </div>
            <div class="col form__checktext">
                 6. Należność za uczestnictwo w szkoleniu on-line zobowiązuję się uregulować najpóźniej  3 dni przed planowanym terminem szkolenia,  wykonując przelew na konto: mBank 90114020170000410204337598, oddział w Zielonej Górze.
            </div>
        </div>

        <div class="form__row">
            <div class="col" style="max-width: 30px;">
                <input class="form__checkbox" name="rules[]" value="7" type="checkbox">
            </div>
            <div class="col form__checktext">
                 7. UWAGA ! Wszystkie szkolenia potwierdzamy telefonicznie na 2 – 3 dni przed planowanym terminem. W przypadku braku potwierdzenia uczestnictwa w szkoleniu z naszej strony prosimy o kontakt telefoniczny !!! tel. 68/4110215, tel. kom. 516 195 031
            </div>
        </div>
        <div class="form__row">
            <div class="col" style="max-width: 30px;">
                <input class="form__checkbox" name="rules[]" value="8" type="checkbox">
            </div>
            <div class="col form__checktext">
                8. W przypadku rezygnacji zgłoszonej osoby póniej niż 3 dni przed terminem seminarium zobowiązujemy się do pokrycia 100% kosztów uczestnictwa. W przypadku nieobecności zgłoszonej osoby bez uprzedniej rezygnacji zobowiązujemy się do pokrycia 100% należności za seminarium. Rezygnacji z uczestnictwa należy dokonać pisemnie faxem lub pocztą elektroniczną. Rezygnacja telefoniczna nie jest respektowana.
            </div>
        </div>
        <div class="form__row">
            <div class="col" style="max-width: 30px;">
                <input class="form__checkbox" name="rules[]" value="9" type="checkbox">
            </div>
            <div class="col form__checktext">
                9. Zgoda na upowaznienie VAT - wysłanie wypełnionego formularza jest równoznaczne z upowaznieniem CRZ SENEKA do wystawienia faktury bez Panstwa podpisu.
            </div>
        </div>
         <div class="form__row">
            <div class="col form__checktext">
                 10. Klient ma prawo składania reklamacji usługi szkoleniowej nie później niż w ciągu 7 dni kalendarzowych licząc od dnia zakończenia usługi.
Skarga lub reklamacja powinna zostać złożona w formie pisemnej na adres: 
                Centrum Rozwoju Zawodowego SENEKA s.c. Agnieszka Nowak, Beata Mądroszyk <br> 65-021 Zielona Góra, ul. Gen. Dąbrowskiego 40/1 za pośrednictwem poczty tradycyjnej lub poczty elektronicznej na adres: biuro@crzseneka.com.pl, a także doręczona osobiście do siedziby firmy.
                  
            </div>
        </div>
        <div class="form__row d-flex justify-content-center">
            <input  class="lesson-program__button  px-5" type="submit" value="{{ 'Wyślij'|_ }}">
        </div>
    </div>
</form>
