
==

<div class="menu__item ">
    <div class="menu__item--title">
        {{record.title|raw}}
    </div>
    <div class="menu__item--text">
        <b>{{ 'Termin'|_ }}:</b> {{record.date|date("d.m.Y")}}
    </div>
    <div class="menu__item--text">
        <b>{{ 'Lokalizacja'|_ }}:</b> {{record.location.city }}, {{record.location.name|striptags|raw }}
    </div>
    <div class="menu__item--text">
        <b>{{ 'Wykładowca'|_ }}:</b> {{record.teacher.name}}
    </div>
    <div class="menu__item--text">
        <b>{{ 'Cena'|_ }}:</b> {{record.price}}
    </div>
    <div class="menu__item--button d-flex justify-content-end">
        <a href="{{ 'lesson'|page({id : record.id}) }}"><button type="button" class="justify-content-end search__form--search search__form--search--sm px-4"> {{ 'DOWIEDZ SIĘ WIĘCEJ'|_ }}   </button></a>
    </div>
</div>