
==

<div class="menu__item ">
    <div class="menu__item--title">
        {{record.title|raw}}
    </div>
    <div class="menu__item--text">
        {% set date = record.date %}
        {% set date_to = record.date_to %}
        {% set date2 = record.date2 %}
        {% set date_to2 = record.date_to2 %}
        {% set date3 = record.date3 %}
        {% set date_to3 = record.date_to3 %}
        {% set date4 = record.date4 %}
        {% set date_to4 = record.date_to4 %}
        {% set date5 = record.date5 %}
        {% set date_to5 = record.date_to5 %}
        {% set date6 = record.date6 %}
        {% set date_to6 = record.date_to6 %}
        {% set date7 = record.date7 %}
        {% set date_to7 = record.date_to7 %}
        {% set date8 = record.date8 %}
        {% set date_to8 = record.date_to8 %}
        {% set date9 = record.date9 %}
        {% set date_to9 = record.date_to9 %}
        {% set date10 = record.date10 %}
        {% set date_to10 = record.date_to10 %}
        <b>{{ 'Termin'|_ }}:</b>
        {%if record.date != '' %}  {{record.date|date("d-m-Y")}}, {%endif%}
        {%if record.date2 != '' %} {{record.date2|date("d-m-Y")}}, {%endif%}
        {%if record.date3 != '' %} {{record.date3|date("d-m-Y")}}, {%endif%}
        {%if record.date4 != '' %} {{record.date4|date("d-m-Y")}}, {%endif%}
        {%if record.date5 != '' %} {{record.date5|date("d-m-Y")}}, {%endif%}
        {%if record.date6 != '' %} {{record.date6|date("d-m-Y")}}, {%endif%}
        {%if record.date7 != '' %} {{record.date7|date("d-m-Y")}}, {%endif%}
        {%if record.date8 != '' %} {{record.date8|date("d-m-Y")}}, {%endif%}
        {%if record.date9 != '' %} {{record.date9|date("d-m-Y")}}, {%endif%}
        {%if record.date10 != '' %} {{record.date10|date("d-m-Y")}}, {%endif%}
    </div>
    <div class="menu__item--text">
            <b>{{ 'Godzina'|_ }}:</b> {{record.hours}}
        </div>
    {%if record.duration != "" %}
    <div class="menu__item--text">
        <b>{{ 'Czas szkolenia'|_ }}:</b> {{record.duration}}
    </div>
    {% endif %}
    <div class="menu__item--text">
        <b>{{ 'Lokalizacja'|_ }}:</b> {{record.location.city }}, {{record.location.name|striptags|raw }}
    </div>
    <div class="menu__item--text">
        <b>{{ 'Wykładowca'|_ }}:</b> {{record.teacher.name}}
    </div>
    <div class="menu__item--text">
        <b>{{ 'Cena'|_ }}:</b> {{record.price}}
    </div>
    <div class="menu__item--button d-flex justify-content-end">
        {% if (online) %}
            <a href="{{ 'lesson-online'|page({id : record.id}) }}"><button type="button" class="justify-content-end search__form--search search__form--search--sm px-4"> {{ 'DOWIEDZ SIĘ WIĘCEJ'|_ }}   </button></a>
        {% else %}
            <a href="{{ 'lesson'|page({id : record.id}) }}"><button type="button" class="justify-content-end search__form--search search__form--search--sm px-4"> {{ 'DOWIEDZ SIĘ WIĘCEJ'|_ }}   </button></a>
        {% endif %}
    </div>
</div>
