<div id="carousel" class="slider" data-ride="carousel">
    <div class="slider__content">
        <div class="slider__item active">
            <img class="" style="min-height: 100%; min-width: 100%;" src="{{ image }}" alt="" >
        </div>
        {#
        <div class="slider__item">
            <img class="" style="min-height: 100%; min-width: 100%;" src="{{ 'assets/dist/images/news2.png'|theme }}" alt="First slide" >
        </div>
        <div class="slider__item">
            <img class="" style="min-height: 100%; min-width: 100%;" src="{{ 'assets/dist/images/news3.png'|theme }}" alt="First slide" >
        </div>
        #}
    </div>
</div>