==
<div class="footercntr">
        <div class="footerback">
            <div class="footer">
                <div class="footer__col">
                        <div class="footer__col--logo">
                            <img alt="Logo CRZSeneka - Szkolenia online i stacjonarne" src="{{ 'assets/dist/images/seneka_logo_blue.png'|theme }}">
                        </div>
                        <div class="footer__col--text">
                            {{ 'Centrum Rozwoju Zawodowego'|_ }}<br>
                            {{ 'SENEKA S.C. A. Nowak, B. Mądroszyk'|_ }}<br>
                            {{ '65-001 Zielona Góra'|_ }} <br>
                            {{ 'ul. Dąbrowskiego 40/1'|_ }}<br>
                            {{ 'NIP: 973-081-46-71'|_ }}<br>
                            {{ 'REGON: 080006658'|_ }}<br>
                        </div>
                        <div class="footer__col--icon">
                            <a title="Odwiedź nas" href="https://www.facebook.com/CRZ-Seneka-102969491507606/"><i style="color:#3399CC;" class="fab fa-facebook-square"></i></a>
                        </div>
                </div>
                <div class="footer__col footer__col--menucol">
                        <div class="footer__col--menu">
                            <div class="menucntr">
                              <div class="menu">
                                <div class="menu__col">
                                    <span class="menu__link"><div class="menu__text">&#8226; <a href="{{ 'home'|page }}" class="menu__link"> {{'Główna'|_}}</a>
                                        </div></span>
                                    <span class="menu__link"><div class="menu__text">
                                        &#8226; <a href="{{ 'news'|page }}" class="menu__link">{{'Aktualności'|_}}</a>
                                    </div></span>
                                    <span class="menu__link"><div class="menu__text">
                                        &#8226; <a href="https://www.crzseneka.com.pl/szkolenia-kategoria/4" class="menu__link"> {{'Szkolenia STACJONARNE'|_}}</a>
                                    </div></span>
                                    <span class="menu__link"><div class="menu__text">
                                        &#8226; <a href="https://www.crzseneka.com.pl/szkolenia-kategoria/3" class="menu__link"> {{'Szkolenia ON-LINE'|_}}</a>
                                    </div></span>
                                    <span class="menu__link"><div class="menu__text">
                                        &#8226; <a href="{{ 'aboutpage'|page }}" class="menu__link"> {{'O firmie'|_}}</a>
                                    </div></span>
                                    <span class="menu__link"><div class="menu__text">
                                        &#8226; <a href="{{ 'contact'|page }}" class="menu__link"> {{'Kontakt'|_}}</a>
                                    </div></span>
                                    <span class="menu__link"><div class="menu__text">
                                        &#8226; <a href="{{ 'newsletter'|page }}" class="menu__link"> {{'Newsletter'|_}}</a>
                                    </div></span>
                                    <span class="menu__link"><div class="menu__text">
                                        &#8226; <a href="{{ 'kodeks'|page }}" class="menu__link"> {{'Kodeks dobrych praktyk'|_}}</a>
                                    </div></span>
                                    <span class="menu__link"><div class="menu__text">
                                        &#8226; <a href="{{ 'procedura'|page }}" class="menu__link"> {{'Prodcedura reklamacji'|_}}</a>
                                    </div></span>
                                    <span class="menu__link"><div class="menu__text">
                                        &#8226; <a href="https://www.crzseneka.com.pl/storage/app/uploads/public/602/b96/1fa/formularz-reklamacyjny.pdf" class="menu__link"> {{'Formularz reklamacyjny'|_}}</a>
                                    </div></span>
                                </div>
                              </div>
                            </div>



                        </div>
                </div>
                <div class="footer__col">
                        <div class="footer__col--contact">
                            <div class="contact">
                                <div class="contact__icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="contact__text contact__text--bold">
                                    {{ 'Tel. kom.: 574 779 555'|_ }}<br>
                                    {{ 'Tel. kom.: 516 195 031'|_ }}<br>
                                    {{ 'Fax: (68) 411 02 16'|_ }}
                                </div>

<script type="application/ld+json">
{"@context" : "http://schema.org",
"@type" : "Organization",
"name" : "Centrum Rozwoju Zawodowego Seneka",
"url" : "https://www.crzseneka.com.pl/",
"logo": "https://www.crzseneka.com.pl/themes/seneka/assets/dist/images/seneka_logo_blue.png",
"sameAs":[
"https://www.facebook.com/CRZ-Seneka-102969491507606/"],
"contactPoint" : [
{ "@type" : "ContactPoint",
"telephone" : "+48516195031",
"contactType" : "customer service",
"contactOption" : "TollFree",
"areaServed" : "PL"} ]}
</script>


                            </div>
                            <div class="contact mt-4">
                                <div class="contact__icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="contact__text contact__text contact__text--bold" itemscope itemtype="http://schema.org/Corporation"><div style="padding:6px;"></div>
                                    <span itemprop="email">{{ 'biuro@crzseneka.com.pl'|_ }}</span><br>
                                    <span itemprop="email">{{ 'szkolenia@crzseneka.com.pl'|_ }}</span>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="signature">
                Projekt i Realizacja ZOOM Marketing

            </div>
        </div>
    </div>
