==
<?php
use Zoom\Seneka\Models\Categories as Category;
use Zoom\Seneka\Models\Lessons as Lesson;
use Zoom\Seneka\Models\Region;

function onStart(){
    $lessons = new Lesson();
    $categoryId = Input('category_id', null);
    if($categoryId){
        $lessons = $lessons->scopeCategory($lessons, $categoryId);
}
$categoriesFilter = [];
$categories = Category::all()->sortBy('position');
$categoriesFilter['time'] = $categories->filter(function($value, $key){
return $value->type;
});

$categoriesFilter['others'] = $categories->filter(function($value, $key){
return !$value->type;
});
$this['records'] = $lessons->get();
$this['categories'] = $categoriesFilter;
$this['regions'] = Region::all();

}
?>
==
<nav id="nav" class="nav nav-color--{{ color }}">
    <div class="nav__container">
        <a class="nav__brand" href="{{ 'home'|page }}">
            <div class="nav__logo logo">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
                aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="nav-list">
                <li class="nav-list__item">
                    <a class="nav-list__link{% if this.page.id == 'home' %} active{% endif %}" href="{{ 'home'|page }}">{{
                        'Główna'|_ }}</a>
                </li>

                <li class="nav-list__item">
                    <a class="nav-list__link{% if this.page.id == 'news' or this.page.id == 'post' %} active{% endif %}"
                       href="{{ 'news'|page }}">{{ 'Aktualności'|_ }}</a>
                </li>
                <li class="nav-list__item dropdown">
                    <a class="dropdown-toggle nav-list__link{% if this.page.id == 'lesson' or this.page.id == 'lessons-category' or this.page.id == 'form' %} active{% endif %}"
                       href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Szkolenia Stacjonarne
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-menu">
                    <a style="font-weight: bold;text-transform: uppercase" class="dropdown-item {% if category.type == true %} d-none {% endif %}"
                                                                       href="/szkolenia-kategoria/">{{ 'Wszystkie'|_ }}</a>
                        {% for category in categories.time %}
                        <a class="dropdown-item {% if category.type == true %} d-none {% endif %}"
                           href="{{ 'lessons-category'|page({id : category.id}) }}">{{category.title}}</a>
                        {% endfor %}
                        <div class="dropdown"></div>
                        {% for category in categories.others %}
                        <a class="dropdown-item {% if category.is_bold == true %} col font-weight-bold{% endif %}"
                           href="{{ 'lessons-category'|page({id : category.id}) }}">{{category.title}}</a>
                        {% endfor %}
                    </div>
                </li>

                <li class="nav-list__item dropdown">
                    <a class="dropdown-toggle nav-list__link{% if this.page.id == 'lesson-online' or this.page.id == 'lessons-category-online' or this.page.id == 'form-online' %} active{% endif %}"
                       href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Szkolenia ON-LINE
                    </a>
                    <div class="dropdown-menu" style="transform: none !important;"  aria-labelledby="navbarDropdown" id="dropdown-menu">
                        <a  style="font-weight: bold; text-transform: uppercase" class="dropdown-item {% if category.type == true %} d-none {% endif %}"
                                                   href="/szkolenia-kategoria-online/">{{ 'Wszystkie'|_ }}</a>
                        {% for category in categories.time %}
                        <a class="dropdown-item {% if category.type == true %} d-none {% endif %}"
                           href="{{ 'lessons-category-online'|page({id : category.id}) }}">{{category.title}}</a>
                        {% endfor %}
                        <div class="dropdown"></div>
                        {% for category in categories.others %}
                        <a class="dropdown-item
                        {% if category.is_bold == true %} font-weight-bold{% endif %}
                        {% if category.type == true %} d-none {% endif %}"
                           href="{{ 'lessons-category-online'|page({id : category.id}) }}">{{category.title}}</a>
                        {% endfor %}
                    </div>
                </li>

                <li class="nav-list__item">
                    <a class="nav-list__link{% if this.page.id == 'aboutpage' %} active{% endif %}"
                       href="{{ 'aboutpage'|page }}">{{ 'O firmie'|_ }}</a>
                </li>
                <li class="nav-list__item">
                    <a class="nav-list__link{% if this.page.id == 'contact' %} active{% endif %}"
                       href="{{ 'contact'|page }}">{{ 'Kontakt'|_ }}</a>
                </li>
                <li class="nav-list__item">
                    <a class="nav-list__link{% if this.page.id == 'newsletter' %} active{% endif %}"
                       href="{{ 'newsletter'|page }}">{{ 'Newsletter'|_ }}</a>
                </li>
                <li class="nav-list_item">
                    <a href="https://www.facebook.com/CRZ-Seneka-102969491507606/" title="Odwiedź nas"><i
                            class="fab fa-facebook-square" style="font-size:200%; color:#3399CC;"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


{#
<nav id="menu" class="nav nav--{{ this.page.id }}">
    <div class="container">
        <a href="{{ 'home'|page }}">
            <div class="nav__logo nav__logo--{{ this.page.id }}">

            </div>
        </a>
        <button class="nav__button" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="nav__button-icon fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="bar" id="navbarNav">
            <ul class="bar__nav">
                <li class="bar__item">
                    <a id="homelink" class="bar__link{% if this.page.id == 'home' %}--active{% endif %}"
                       href="{{ 'home'|page }}">{{ 'Główna'|_ }}</a>
                </li>

                <li class="bar__item">
                    <a id="newslink"
                       class="bar__link{% if this.page.id == 'news' or this.page.id == 'post' %}--active{% endif %}"
                       href="{{ 'news'|page }}">{{ 'Aktualności'|_ }}</a>
                </li>
                <li class="nav-item dropdown bar__item">
                    <a class="nav-link dropdown-toggle bar__link{% if this.page.id == 'lesson' or this.page.id == 'lessons-category' or this.page.id == 'form' %}--active{% endif %}"
                       href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Szkolenia
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-menu">
                        {% for category in categories.time %}
                        <a class="dropdown-item bar__link--blue"
                           href="{{ 'lessons-category'|page({id : category.id}) }}">{{category.title}}</a>
                        {% endfor %}
                        <div class="dropdown"></div>
                        {% for category in categories.others %}
                        <a class="dropdown-item bar__link--blue{% if category.id == 3 %} font-weight-bold{% endif %}"
                           href="{{ 'lessons-category'|page({id : category.id}) }}">{{category.title}}</a>
                        {% endfor %}

                    </div>
                </li>
                <li class="bar__item">
                    <a id="aboutlink" class="bar__link{% if this.page.id == 'aboutpage' %}--active{% endif %}"
                       href="{{ 'aboutpage'|page }}">{{ 'O firmie'|_ }}</a>
                </li>
                <li class="bar__item">
                    <a id="contactlink" class="bar__link{% if this.page.id == 'contact' %}--active{% endif %}"
                       href="{{ 'contact'|page }}">{{ 'Kontakt'|_ }}</a>
                </li>
                <li class="bar__item">
                    <a id="newsletterlink" class="bar__link{% if this.page.id == 'newsletter' %}--active{% endif %}"
                       href="{{ 'newsletter'|page }}">{{ 'Newsletter'|_ }}</a>
                </li>
            </ul>
        </div>
        <div class="addition">
            <i class="fas fa-phone"></i> 516 195 531
            <i class="fas fa-envelope"></i> biuro@crzseneka.com.pl
        </div>
    </div>
</nav>
#}
