.slider{
  @extend .carousel;
  //@extend .slide;
  height: 70vh;
  &__content{
    @extend .carousel-inner;
    @extend .w-100;
    @extend .h-100;
  }
  background-color: #17171C;
  &__item{
    @extend .carousel-item;
    @extend .w-100;
    @extend .h-100;
    //background-color: #000;
    //background-size: cover;
    //background-position: center center;
    //
    //&:nth-child(3n+1) {
    //  background-image: url("../images/news1.png");
    //}
    //&:nth-child(3n+2) {
    //  background-image: url("../images/news2.png");
    //}
    //&:nth-child(3n+3) {
    //  background-image: url("../images/news3.png");
    //}
  }
}