subject = "Nowy subskrybent"
==

Dodano nowego subskrybenta:

{{ subscriber.name }}
{{ subscriber.email }}
{{ subscriber.city }}
{{ subscriber.region.name }}

==

<p>Dodano nowego subskrybenta:</p>

<ul>
    <li>{{ subscriber.name }}</li>
    <li>{{ subscriber.email }}</li>
    <li>{{ subscriber.city }}</li>
    <li>{{ subscriber.region.name }}</li>
</ul>
