.news-title{
    font-size: 38pt;
    text-align: center;
    color: $color-second;
}
.news{
    @extend .row;
    @extend .my-5;
    &__more{
        @extend .text-center;
    }
    &__col{
        @extend .col;
    }
    &__square{

        background-color: $color-news;
        @extend .p-2;

        &--date{
            @extend .pt-5;
            color: $color-date;
            font-size: 0.9rem;
        }
        &--title{
            @extend .pt-3;
            @extend .font-weight-bold;
            color: $color-second;
        }
        &--text{
            @extend .pt-3;
            color: $color-second;
            font-size: 0.9rem;
        }
        &--link{
            color: $color-second;
            font-size: 1.2rem;
            @extend .text-right;
            @extend .font-weight-bold;
            @extend .pt-4;
            @extend .pb-5;
            
        }
        &--button{
            @extend .btn;
            @extend .btn-light;
            @extend .btn-outline-primary;
            @extend .my-5;
            color: $color-second;
            border-color: $color-second;
            width: 200px;
            background-color: transparent;
            &:hover{
                background-color: transparent;
                color: $color-second;
                border-color: $color-first;
            }
        }
    }
}
.link{
    color: $color-second;
}
.photo-news{
    height: 350px;
    background-size: cover;
    background-position: center;
}

.pagination{
    font-size: 1.6rem;
    padding: 13px;
    color: $color-second;
}