.photo-title{
    font-size: 38pt;
    text-align: center;
    color: $color-second;
    @extend .my-5;
    @extend .pb-5;
}
.photo{
    @extend .row;
    &__link{
        color: #000;
        &:hover{
            color: #000;
            text-decoration: none;
        }
    }
    &__square{
        @extend .col-md;
        margin: 0 !important; //.m-0
        padding: 0 !important; //p-0
        transition-duration: 500ms;
        &:after{
            content: '';
            @extend .position-absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        
        &:hover:after {
            background-color: rgba($color-first, 0.6);
            animation-name: up;
            animation-duration: 500ms;
        }
            /*
            &:hover{
                color: white;
                z-index: 2;
                background-color: $color-first;
                animation-name: up;
                animation-duration: 500ms;
                img{
                filter: opacity(25%);
                }
            }
            */
        &--title{
            @extend .p-4;
            @extend .font-weight-bold;
            @extend .text-center;
            height:  6rem;
            font-size: 1.25rem;
        }
        &--image{
            
        }
    }
}

.owl-carousel.owl-loaded {
    margin: 0 !important;
}
.owl{
    &-nav{
        @extend .d-flex;
        @extend .justify-content-between;
    }
    &-prev, &-next{
        @extend .m-1;
        color: $color-fourth !important;
    }

}

@keyframes up {
    from {left:0; right:0; top:100%; bottom:0; }
    to {left:0; right:0; top:0; bottom:0;  }
}
/*
.owl-dot{
    width: 12px !important;
    height: 12px !important;
    background-color: #C4C4C4 !important;
    border-radius: 12px;
    border: 1px solid #C4C4C4 !important;
    margin: 5px;
}
.owl-dots{
    width: 70px;
    @extend .mx-auto;
    @extend .mt-3;
}
*/