.lesson-cont{
    @extend .container;
    margin-top: 140px !important;
    @extend .px-0;
    &__title{
        @extend .text-center;
        font-size: 2.2rem;
        color: $color-second;
    }
    &__box{
//        @extend .row;

        @extend .col-md-3;
    }
    &__col{
        @extend .text-center;
        @extend .py-4;
        color: white;
        &--1{
            background: $color-third;
        }
        &--2{
            background: $color-first;
        }
        &--3{
            background: $color-second-box;
        }
        &--4{
            background: #7190af;
        }
        &__icon{
            font-size: 2.2rem;
            @extend .py-1;
        }
        &__title{
            font-size: 1.2rem;
        }
        &__content{
            font-size: 1.4rem;
            @extend .pt-2;
            color: $color-fourth;
        }
    }
    
}
.lesson-program{
    @extend .col-md-9;
    &__title{
        @extend .text-center;
        @extend .font-weight-bold;
        color: $color-second;
        font-size: 1.2rem;
        &--important{
            background-color: $color-next-gray;
        }
    }
    &__text{
        @extend .text-left;
        color: $color-second;
        max-width: 1000px;
        @extend .mx-auto;
        @extend .p-4;
        &--important{
            background-color: $color-next-gray;
        }
    }
    &__bottom{
        @extend .text-left;
        color: $color-second;
        max-width: 1000px;
        @extend .mx-auto;
        @extend .p-5;
        font-size: 1.15rem;
    }
    &__button{
        color: white;
        background: $color-fourth;
        border-radius: 15px;
        border: 1px solid $color-fourth;
        @extend .py-2;
        @extend .px-3;
        max-width: 280px;
        @extend .text-center;
        @extend .mx-auto;
        @extend .my-4;
        &--link{
            &:hover{
                text-decoration: none;
            }
        }
    }
}