.lessons{
    @extend .container-fluid;
    @extend .m-0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    @extend .p-0;
    position: relative;
    top: 0px;
    &__slider{
        @extend .carousel;
        @extend .container-fluid;
        @extend .p-0;
        &__inner{
            height: 650px;
            background: black;
        }
        &__item{
            height: 100%;
            opacity: 0.6;
        }
        &__text{
            font-size: 3.5rem;
            color: white;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            @extend .d-flex;
            @extend .justify-content-center;
            @extend .align-items-center;
//            left: calc(50%-150px);
//            top: calc(50%-12.5px);
        }
    }
    &__content{
        @extend .container-fluid;
        @extend .mt-5;

    }
    &__buttons-row{
        @extend .row;
        @extend .justify-content-around;
        background-color: $color-second;
    }
    &__button-col{
        @extend .col-md-4;
        @extend .col-12;
        min-height: 200px;
        @extend .d-flex;
        &:before{
                @extend .d-inline-block;
                content: '';
                position: absolute;
                right: 0;
                bottom: 0px;
                width: 0; 
                height: 0; 
                border-right: 100px solid $color-fourth;
                border-top: 100px solid transparent;
                @extend .p-0;            
        }
        &--bg1{
            background-color: $color-first;
        }
        &--bg2{
            background-color: $color-second;
        }
        &--bg3{
            background-color: $color-third;
        }
    }
    &__button{
        width: 85%;
        border: 2px solid $color-second;
        border-radius: 15px;
        @extend .px-2;
        @extend .py-3;
        @extend .mx-auto;
        @extend .my-5;
        font-size: 1.3rem;
        color: $color-second;
        @extend .text-center;
        transition-duration: 500ms;
        &:hover{
            background: $color-first; 
            color: white;
            cursor: pointer;
        }
    }
    &__menu{
        @extend .row;
        
    }
    &__menu-select{
        @extend .col-md-3;
        @extend .my-2;
        @extend .d-none;
        @extend .d-md-block;
    }
    &__menu-result{
        @extend .col-md-8;
        color: $color-second;
        font-size: 1.1rem;
        @extend .mt-2;
    }
    
}
.menu__option{
    width: 100%;
    background-color: $color-second;    
    color: white;
    @extend .py-2;
    @extend .px-3;
    &--active{
        background-color:  #eaebf0;
        color: $color-second;
    }
}
.menu__item{
    width: 100%;
    @extend .mx-2;
    border-bottom: solid 1px $color-second;
    @extend .py-2;
    @extend .px-1;
    //@extend .my-1;
    
    &--category{
        font-size: 1.2rem;
        
    }
    &--title{
        font-size: 1.6rem;
        @extend .font-weight-bold;
        color: black;
        
    }
    &--text{
        font-size: 1rem;
        
    }
}
.search-form{
    @extend .container;
    @extend .py-3;
    &__row{
        @extend .row;
    }
    &__input{
        @extend .col-12;
        @extend .col-md-4;
        @extend .p-2;
        &--regions{
            @extend .d-md-none;
        }
    }
    &__col{
        &--input{
            @extend .d-flex;
            @extend .flex-wrap;
            @extend .justify-content-between;
            @extend .align-items-center;
            @extend .col-12;
            @extend .col-lg-9;

        }
        &--submit{
            @extend .col-lg-3;
            @extend .col-12;
            @extend .d-flex;
            @extend .justify-content-end;
            @extend .align-items-center;
        }
        .search__form--search {
            margin: 10px 0 10px;
            @media (min-width: 1000px) {
                margin: 0;
                font-size: 11pt;
            }
        }
    }
}

