
.nav-color{
    &--light, &--light-scroll{
        @extend .navbar-light;
        background-image: linear-gradient(white, rgba(255, 255, 255, 0.8));
        border-bottom-color: $color-second;
        & .logo{
            background-image: url("../images/seneka_logo_blue.png");
            background-size: 100% 100%;
        }
        & .nav-list__link{
            color: $color-second !important;
        }
    }
    &--dark {
        @extend .navbar-dark;
        //background-image: linear-gradient(rgba(0,51,104,1), rgba(0,51,104,0.9)) !important;
        //@extend .bg-transparent;
        @extend .bg-primary;
        border-bottom-color: #bdbdbd;


        & .logo{
            background-image: url("../images/seneka_logo.png");
            background-size: 100% 100%;
        }
        & .nav-list__link{
            color: white !important;
        }
    }
}

/*
@include media-breakpoint-down(md) {
    .nav-color {
        &--dark {
            background-image: linear-gradient(rgba(0,51,104,1), rgba(0,51,104,0.9)) !important;
        }
    }

}
*/

.nav{
    @extend .navbar;
    @extend .navbar-expand-lg;
    @extend .fixed-top;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    &__container{
        @extend .container;
    }
    &__brand{
        @extend .navbar-brand;
    }
    &__logo{
        width: 197px * 1.15;
        height: 84px * 1.15;
    }
    transition-duration: 400ms;
}


.nav-list{
    @extend .navbar-nav;
    @extend .mr-auto;
    @extend .w-100;
    @extend .d-flex;
    @extend .justify-content-around;
    &__item{
        @extend .nav-item;
    }
    &__link{
        @extend .nav-link;
        &.active{
            color: $color-active !important;
        }
    }
}

/*
.nav{
    @extend .navbar;
    @extend .navbar-expand-lg;
    //@extend .navbar-dark;
    @extend .fixed-top;
    //@extend .bg-transparent;
    @extend .mx-auto;
    border-bottom: 1px solid #bdbdbd;
    @extend .pb-3;
    background-image: linear-gradient(white, rgba(255, 255, 255, 0.8));
    &--home, &--news{
        @extend .bg-transparent;
        background-image: none !important;
    }
    &--post, &--contact, &--newsletter, &--lessons-category{

        color: $color-second;
        & .bar__link{
            color: $color-second;
        }
    }
    &__logo{
        @extend .navbar-brand;
        width: 197px;
        height: 84px;
        background-image: url("../images/seneka_logo.png");
        &--home{
            background-image: url("../images/seneka_logo.png");
            border-bottom: none !important;
        }
        &--post, &--contact, &--newsletter,  &--lessons-category{
            background-image: url("../images/seneka_logo_blue.png");
        }
    }
    &__button{
        @extend .navbar-toggler;
        @extend .mt-4;
        &-icon{
            //color: $color-second;
            color: silver;
        }
    }
    transition-duration: 400ms;
}
.bar{
    @extend .collapse;
    @extend .navbar-collapse;
    @extend .mx-5;

    &__nav{
        @extend .navbar-nav;
    }
    &__item{
        @extend .nav-item;
        @extend .px-3;
        @extend .pt-3;
    }
    &__link{
        @extend .nav-link;
        color: white;
        &--active{
            color: $color-active !important;
            @extend .nav-link;
        }
        &--blue{
            color: $color-second !important;
        }
    }
}


.nav-dark{
    @extend .nav;
    background: linear-gradient(rgba(0,51,104,1), rgba(0,51,104,0.9)) !important;
    border-bottom: 0;
    transition-duration: 400ms;
    & .nav__logo {
        background-image: url("../images/seneka_logo.png") !important;
    }
    color: white !important;
    & .bar__link{
        color: white;
    }
    & .nav__button-icon{
        color: white !important;
    }
}
.image{
    width: 100%;
    transition-duration: 400ms;
}
.image-dark{
    width: 60%;
    transition-duration: 400ms;
}
*/

.addition{
    width: 280px;
    height: 26px;
    background-color: $color-first;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 10pt;
    text-align: center;
    @extend .pt-1;
}


.search{
    @extend .container;

    &__row{
        @extend .row;
    }
    &__form{
        @extend .col-md;
        padding: 20px 10px 0;

        &--choose{
            @extend .form-control;
            @extend .form-control-lg;
            color: $color-second;
            border: 2px solid $color-second;
            font-size: 12pt;
            @extend .font-weight-bold;
            //font-family: 'FontAwesome', Helvetica;
            @extend .pl-3;
        }
        &--city{
            @extend .form-control;
            @extend .form-control-lg;
            color: $color-second;
            border: 2px solid $color-second;
            font-size: 12pt;
            @extend .font-weight-bold;
            //font-family: 'FontAwesome', Helvetica;
            @extend .pl-3;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        &--search,
        &--clear {
            @extend .btn;
            @extend .btn-lg;
            @extend .btn-outline-warning;
            font-size: 12pt;
            @extend .font-weight-bold;
            //border: 2px solid $color-fourth;
            padding-top: 10px;
            padding-bottom: 10px;
            @extend .align-self-center;
            min-width: 215px;
            transition: .3s ease;
        }
    }
    
}
@media screen and (max-width: 992px) {
  .search__form{
    padding-top: 20px !important;
    padding-bottom: 0px !important;
  }
  .image{
        width: 60%;
    }
}
