.contact-cont{
    @extend .container-fluid;
    @extend .p-0;
    @extend .m-0;
    @extend .row;
    margin-top: 150px !important;

    &__col{
        @extend .col-lg-6;
        @extend .col-12;
        @extend .p-0;
        &--text{
            @extend .d-flex;
            @extend .flex-column;
            @extend .justify-content-center;
            background-color: $color-second;
        }
    }
}
.contact-col{
    &__item{
        @extend .w-100;
        @extend .my-3;
        @extend .py-2;
        //max-width: 400px;
        @extend .mx-auto;
    }
    &__icon{
        @extend .col-sm-3;
        color: white;
        font-size: 5rem;
        @extend .text-center;
    }
    &__text{
        @extend .col-sm-9;
        @extend .mx-auto;
        color: white;
        font-size: 1.2rem;
        @extend .d-flex;
        @extend .align-items-center;
        @extend .text-center;
        @extend .justify-content-center;
    }
}
.contact-form{
    @extend .container;
    @extend .p-4;
    @extend .m-0;
    margin-top: 100px !important;
    margin-bottom: 100px !important;
    @extend .mx-auto;
    &__title{
        font-size: 2.5rem;
        color: $color-second;
        @extend .text-center;
    }
    &__text{
        font-size: 1rem;
        color: $color-second;
        @extend .text-center;
        max-width: 900px;
        @extend .mx-auto;
        @extend .py-3;
    }
    &__box{
        @extend .row;
        @extend .my-4;
        @extend .justify-content-center;
    }
    &__col{
        @extend .col-md-6;
        @extend .col-12;
        &--lg{
            @extend .col-md-8;
            @extend .col-12;
            
        }
    }
    &__input{
        width: 100%;
        @extend .text-center;
        border-radius: 15px;
        border: 1px $color-second solid;
        height: 50px;
        &--lg{
            height: 310px;
            @extend .p-3;
        }
    }
    &__label{
        font-size: 1.2rem;
        color: $color-second;
        @extend .pl-3;
        
    }
    &__button{
        @extend .mx-auto;
        max-width: 200px;
    }
    &__button--item{
        border-radius: 15px;
        border: 1px $color-second solid;
        font-size: 1rem;
        color: $color-second;
        background:white;
        @extend .px-5;
        @extend .py-2;
        width: 100%;
    }


   &__form {
       @extend .col-md;
       @extend .px-3;
       @extend .py-5;

       &--choose {
           @extend .form-control;
           @extend .form-control-lg;
           color: $color-second;
           border: 1px solid $color-second;
           font-size: 12pt;
           @extend .font-weight-bold;
           //font-family: 'FontAwesome', Helvetica;
           @extend .pl-3;
           border-radius: 15px;
       }
   }
}