description = "Default layout"

[cookieConsent]
message = "Strona używa plików cookie."
dismiss = "Akceptuje"
learnMore = "więcej"
link = "#"
theme = "dark-bottom"
==
<!DOCTYPE html>
<html lang="pl-PL">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5MJSK6T');</script>
<!-- End Google Tag Manager -->
<meta name="keywords" content="szkolenia jpk, szkolenia vat, szkolenia bdo, szkolenia z prawa pracy, szkolenia vat online, szkolenia jdk online, szkolenia bdo online, szkolenia z prawa pracy online">
    <meta charset="utf-8">
<meta name="robots" content="index">
{% if this.page.id |page == "https://www.crzseneka.com.pl/szkolenie/578" %}
    <p>Note to other admins: We are currently working on this page.</p>
{% endif %}
    <title>{{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="OctoberCMS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="UrOo5jz3ygnyIWtenhDO8nvmDmq_sokENOw3ife-H1s" />
    <link rel="icon" type="image/png" href="{{ 'assets/dist/images/favicons/favicon-32x32.png'|theme }}">
    <link rel="icon" type="image/png" href="{{ 'assets/dist/images/favicons/favicon-32x32.png'|theme }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ 'assets/dist/images/favicons/favicon-16x16.png'|theme }}" sizes="16x16" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173239126-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173239126-1');
</script>
<link rel="stylesheet" href="{{ 'assets/dist/css/app.css'|theme }}">

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MJSK6T"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Content -->
<section id="layout-content">
    {% page %}
</section>

<!-- Footer -->
<footer id="layout-footer">
    {% partial 'footer' %}
</footer>
{% component 'cookieConsent' %}
<!-- Scripts -->
<script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
<script async src="{{ 'assets/dist/js/app.js'|theme }}"></script>
 <script src="{{ 'assets/dist/js/lazysizes.min.js'|theme }}" async></script>
  <!-- Images End -->
{% framework extras %}
{% scripts %}

</body>
</html>