/*
$color-second: #184879;
$color-first: #406b98;
$color-third: #7190af;
*/
//$color-second: #5a94e8;

/**
$color-second color podstawowy na stronie do fontów
jest taki jak kolor logo
 */
$color-second: #174779;

$color-first: #1875d6;
$color-second-box: #5a94e8; //kolor boksu;
$color-third: #315cb7;
$color-fourth: #f75504;
$color-next-gray: #e9ebf0;


$color-news: #e9ebf0;
$color-date: #f75504;
$color-active: #f75504;

//bootstrap
$primary: $color-second !default;
$yellow: $color-fourth !default;