title = 404
url = "/404"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 1
use_updated_at = 0
changefreq = "always"
priority = 0.1
==
<header id="layout-header">
    {% partial 'header' color="dark" %}
</header>
<div class="aboutpage__content">
   <br /><br />
           <h1 style="color:#214779;">Błąd 404. Szukaliśmy ale nie znaleźliśmy takiej strony <i class="far fa-frown"></i></h1>
           
           <h3 style="color:grey;">Wyszukaj interesujące Cię szkolenia:</h3>
         <div class="">
        <div class="search">
            <form method="post" action="{{'lessons-category'|page}}">
            <div class="search__row">
                <div class="search__form">
                    <select name="categories[]" class="search__form--choose">
                        <option selected disabled hidden>{{ 'Typ szkolenia'|_ }}</option>
                        {% for category in categoriesFilter.time %}
                            <option value="{{ category.id }}"> {{ category.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search__form">
                    <select name="categories[]" class="search__form--choose">
                        <option selected disabled hidden>{{ 'Kategoria szkolenia'|_ }}</option>
                        {% for category in categoriesFilter.others %}
                            <option value="{{ category.id }}"> {{ category.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search__form">
                    <select name="region" class="search__form--choose">
                        <option selected disabled hidden>{{ 'Województwo'|_ }}</option>
                        {% for region in regions %}
                        <option value="{{ region.id }}"> {{ region.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search__form">
                    <select name="city" class="search__form--choose">
                        <option selected disabled hidden>{{ 'Lokalizacja'|_ }}</option>
                        {% for city in cities %}
                        <option value="{{ city.city }}">{{ city.city }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search__form">
                    <h2 style="font-size:100%; font-weight:normal;"><button type="submit" class="search__form--search"><i class="fas fa-search"></i> SZUKAJ SZKOLENIA</button></h2>
                </div>
            </div>
            </form>
        </div>
    </div>
        
</div>