title = "Poznaj naszą firmę oraz wizję - CRZ Seneka"
url = "/ofirmie"
layout = "default"
is_hidden = 0
meta_title = "Poznaj naszą firmę oraz wizję - CRZ Seneka"
meta_description = "Od 2005 r. przeprowadzamy szkolenia vat, szkolenia bdo, szkolenia jpk oraz szkolenia z prawa pracy - stacjonarnie jak i online."
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 1
use_updated_at = 0
changefreq = "always"
priority = 0.1
og_title = "Poznaj naszą firmę"
og_description = "Od 2005 r. przeprowadzamy szkolenia vat, szkolenia bdo, szkolenia jpk oraz szkolenia z prawa pracy - stacjonarnie jak i online."
og_type = "website"
og_image = "/as.png"
seo_keywords = "szkolenia vat, szkolenia bdo, szkolenia jpk, szkolenie prawo pracy, szkolenia vat online, szkolenia bdo online, szkolenia jpk online, szkolenie prawo pracy online"

[viewBag]
localeUrl[en] = "/crz-seneka-organizacja-i-przeprowadzenie-szkolen"

[builderList]
modelClass = "Zoom\Seneka\Models\Teacher"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No founds"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<?php
use Zoom\Seneka\Models\Settings;

function onStart(){

    $texts = [];


    $texts['company_history'] = Settings::instance()->company_history;
    $texts['company_about'] = Settings::instance()->company_about;
    $texts['company_teachers'] = Settings::instance()->company_teachers;
    $texts['company_persons_title'] = Settings::instance()->company_persons_title;
    $texts['company_persons_value'] = Settings::instance()->company_persons_value;
    $texts['company_range_title'] = Settings::instance()->company_range_title;
    $texts['company_range_value'] = Settings::instance()->company_range_value;
    $texts['company_cities_title'] = Settings::instance()->company_cities_title;
    $texts['company_cities_value'] = Settings::instance()->company_cities_value;

    $this['texts'] = $texts;
    $this['slider'] = Settings::instance()->picture_company;
}
?>
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<!-- Header -->
<header id="layout-header">
    {% partial 'header' color="dark" %}
</header>
<div id="carousel" class="slider" data-ride="carousel" style="position:relative;">
    <div class="slider__content">
        <div class="slider__item active">
            <img class="" style="min-height: 100%; min-width: 100%;" src="https://crzseneka.com.pl/storage/app/uploads/public/o-firmie-crz-szkolenia.jpg" alt="Parę słów o nas - CRZ Seneka" >
            <div style="position:absolute; top:40%; color:white; text-align:center; width:100%;"><h1>Centrum Rozwoju Zawodowego Seneka<br /> <span style="font-size:70%">Parę słów o nas i naszej misji</span></h1></div>
        </div>
            </div>
</div>

<div class="aboutpage__content">
    <div class="aboutpage__title">
        {{ 'Historia firmy'|_ }}
    </div>
    <div class="aboutpage__text">
        {{ texts.company_history|raw }}
    </div>
    <div class="aboutpage__row">


        <div class="aboutpage__col">
            <div class="aboutpage__sign">
                {{ texts.company_persons_title }}
            </div>
            <div class="aboutpage__number">
                <span class="count" data-from="0" data-to="{{ texts.company_persons_value }}" data-speed="2000"></span>
            </div>
        </div>

        <div class="aboutpage__col">
            <div class="aboutpage__sign">
                {{ texts.company_range_title }}
            </div>
            <div class="aboutpage__number">
                <span>{{ texts.company_range_value }}</span>
            </div>
        </div>

        <div class="aboutpage__col">
            <div class="aboutpage__sign">
                {{ texts.company_cities_title }}
            </div>
            <div class="aboutpage__number">
                <span class="count" data-from="0" data-to="{{ texts.company_cities_value }}" data-speed="2000"></span>
            </div>
        </div>


        
    </div>
</div>
    
<div class="aboutpage__content">
    <div class="aboutpage__title">
        {{ 'Nasi wykładowcy'|_ }}
    </div>
    <div class="aboutpage__text">
        {{ texts.company_teachers|raw }}
    </div>
    <div class="aboutpage__row2">
        {% for record in records %}
        <div class="aboutpage__col2--sm">
            <div class="aboutpage__photo" style="background-image: url('{% if record.avatar.getPath() == true %}{{record.avatar.getPath()}}{% else %}{{ 'assets/dist/images/default-non-user-no-photo.jpg'|theme }}{% endif %}')">
            </div>
        </div>
        <div class="aboutpage__col2--lg">
            <div class="aboutpage__name">
                <h2 style="font-size:100%;">{{record.name}}</h2>
            </div>
            <div class="aboutpage__stan">
                {{record.position}}
            </div>
            <div class="aboutpage__opis">
                {{record.content|raw}}
            </div>
        </div>
        {% else %}
        <div class="no-data">{{ noRecordsMessage }}</div>
        {% endfor %}
    </div>
</div>