title = "Kontakt z nami | CRZ Seneka - szkolenia VAT, JPK, BDO, prawo pracy"
url = "/kontakt"
layout = "default"
is_hidden = 0
meta_title = "Kontakt z nami | CRZ Seneka - szkolenia VAT, JPK, BDO, prawo pracy"
meta_description = "Chętnie odpowiemy na wszystkie pytania oraz rozwiejemy Państwa wątpliwości! Telefon: 68) 411 02 15, E-mail: biuro@crzseneka.com.pl lub szkolenia@crzseneka.com.pl"
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 1
use_updated_at = 0
changefreq = "always"
priority = 0.1
seo_keywords = "kontakt, szkolenia jpk, szkolenia bdo, szkolenia z kodeksu pracy"

[viewBag]
localeUrl[en] = "/crz-seneka-organizacja-i-przeprowadzenie-szkolen"

[genericForm]
messages_success = "Dziękujemy za kontakt"
messages_errors = "Wystąpił błąd"
mail_enabled = 1
mail_recipients[] = "szkolenia@crzseneka.com.pl"
reset_form = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
<?php
use Zoom\Seneka\Models\Settings;

function onStart(){
    $this['contact'] = Settings::instance()->contact;
}
?>
==
<!-- Header -->
<header id="layout-header">

    {% partial 'header' color="dark" %}
</header>
<div class="contact-cont">
    <div class="contact-cont__col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2459.355012810185!2d15.495828215946123!3d51.94571728638083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470613e7a56fb51d%3A0x848b7aff3dfe655d!2sSeneka+s.c.+Centrum+rozwoju+zawodowego.+M%C4%85droszyk+B.%2C+Nowak+A.!5e0!3m2!1spl!2spl!4v1535531718189" width="100%" style="min-height: 600px;" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="contact-cont__col contact-cont__col--text">
        <div class="contact-col__item">

            <div class="contact-col__text">
                {{ 'Centrum Rozwoju Zawodowego'|_ }}<br>
                {{ 'SENEKA S.C. A. Nowak, B. Mądroszyk'|_ }}<br>
                {{ '65-001 Zielona Góra'|_ }} <br>
                {{ 'ul. Dąbrowskiego 40/1'|_ }}<br><br>
                {{ 'Czynne w godzinach 8:00-16:00'|_ }}<br><br>
                {{ 'NIP: 973-081-46-71'|_ }}<br>
                {{ 'REGON: 080006658'|_ }}<br>
                {{ 'NR KONTA: mBank S.A. PL 9011 402017 0000 4102 0433 7598'|_ }}<br>
            </div>
        </div>
        <div class="contact-col__item">

            <div class="contact-col__text">
                {{ 'biuro@crzseneka.com.pl'|_ }}<br>
                {{ 'szkolenia@crzseneka.com.pl'|_ }}
            </div>
        </div>
        <div class="contact-col__item">
            <div class="contact-col__text">
                {{ 'Tel. kom.: 574 779 555'|_ }}<br>
                {{ 'Tel. kom.: 516 195 031'|_ }}<br>
                {{ 'Fax: (68) 411 02 16'|_ }}
            </div>
        </div>
    </div>
</div>
<div class="contact-form">
    <div class="contact-form__title">
        {{ 'Formularz kontaktowy'|_ }}
    </div>
    <div class="contact-form__text">
        {{ contact|raw }}
    </div>

    <form data-request="{{ genericForm }}::onFormSubmit">

        {{ form_token() }}

        <div id="{{ genericForm }}_forms_flash"></div>

        <div class="contact-form__box">

            <div class="contact-form__col">
                <div class="contact-form__inputitem">
                    <label class="contact-form__label" for="name">{{ 'Imię i nazwisko'|_ }}:</label>
                    <input class="contact-form__input" type="text" id="name" name="name" class="form-control" required>
                </div>

                <div class="contact-form__inputitem">
                    <label class="contact-form__label" for="email">{{ 'E-mail'|_ }}:</label>
                    <input class="contact-form__input" type="email" id="email" name="email" class="form-control" required>
                </div>

                <div class="contact-form__inputitem">
                    <label class="contact-form__label" for="subject">{{ 'Miejscowość'|_ }}:</label>
                    <input class="contact-form__input" type="text" id="subject" name="subject" class="form-control" required>
                </div>

                <div class="contact-form__inputitem">
                    <label class="contact-form__label" for="subject">{{ 'Województwo'|_ }}:</label>
                    <input class="contact-form__input" type="text" id="state" name="state" class="form-control" required>
                </div>
            </div>
            <div class="contact-form__col">
                <div class="form-group">
                    <label class="contact-form__label">{{ 'Treść wiadomości'|_ }}:</label><br>
                    <textarea class="contact-form__input contact-form__input--lg" id="comments" name="comments" rows="8" cols="80" required></textarea>
                </div>
            </div>

        </div>
        <div class="contact-form__button">
            <button id="simpleContactSubmitButton" type="submit" class="contact-form__button--item">{{ 'Wyślij'|_ }}</button>
        </div>
    </form>
</div>