title = "CRZ SENEKA: organizacja i przeprowadzenie szkoleń"
url = "/formularz-zgloszeniowy/:lesson_id?0"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 0
use_updated_at = 0
changefreq = "always"
priority = 0.1

[viewBag]
localeUrl[en] = "/crz-seneka-organizacja-i-przeprowadzenie-szkolen"
==
<?php
use Zoom\Seneka\Models\Lessons as Lesson;
use Zoom\Seneka\Models\Source;
use Zoom\Seneka\Models\Order;
use Zoom\Seneka\Classes\PdfOrderService;

function onStart(){
    $this['sources'] = Source::all();
    $this['selectLessonId'] = $this->param('lesson_id');
    $this['lessons'] = Lesson::available()->get();
}

function onSave(){
    $rules = Input::get('rules',null);
    if(!($rules && is_array($rules) && count($rules) === 8)){
        throw new AjaxException([
            'error' => 'Prosimy potwierdzić wszystkie informację na dole strony.',
            'X_OCTOBER_ERROR_MESSAGE' => 'Prosimy potwierdzić wszystkie informację na dole strony.',
        ]);
    }


    $order = new Order();

    $lesson = null;
    $lessonId = Input::get('lesson',null);
    if($lessonId){
        $lesson = Lesson::find($lessonId);
    }
    $order->lesson = $lesson;
    $order->company = Input::get('company',null);
    $order->address = Input::get('address',null);
    $order->tax_no = Input::get('tax_no',null);
    $order->city = Input::get('city',null);
    $order->email = Input::get('email',null);
    $order->post_code = Input::get('post_code',null);
    $order->phone = Input::get('phone',null);
    $order->fax = Input::get('fax',null);
    $order->comments = Input::get('comments',null);
    $order->persons = Input::get('persons',null);
    $order->source_id = Input::get('source_id',null);
    $order->tax_rules = Input::get('tax_rules',null);


    if($order->save()){
        Flash::success('Zgłoszenie zostało przesłane.');
        $pdfOrderService = new PdfOrderService($order);
        $orderPdf = $pdfOrderService->create();
        Mail::sendTo('szkolenia@crzseneka.com.pl', 'new_order', [ 'order' => $order , 'order_pdf' => $orderPdf ]);
        Mail::sendTo($order->email, 'new_order_customer', [ 'order_pdf' => $orderPdf ]);
    }
    else{
        Flash::error('Wystąpił błąd');
    }

    $this['sources'] = Source::all();
    $this['selectLessonId'] = $this->param('lesson_id');
    $this['lessons'] = Lesson::available()->get();
}
?>
==
<!-- Header -->
<header id="layout-header">

    {% partial 'header' color="light" %}
</header>
{% flash %}
<div class="alert alert-{{ type }}">
    {{ message }}
</div>
{% endflash %}
<div id="form" class="form__container" >
    {% partial "_formadd" %}
</div>