title = "Szkolenia VAT - online  i stacjonarnie | CRZ Seneka"
url = "/"
layout = "default"
is_hidden = 0
meta_description = "Szkolenia VAT  online i stacjonarnie. Nowe zmiany w podatku VAT. Zapisz się na profesjonalne szkolenie VAT!  Sprawdź pełną ofertę na naszych szkoleń."
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 1
use_updated_at = 0
changefreq = "always"
priority = 0.1
og_title = "Szkolenia VAT, BDO, JPK, prawo pracy - CRZ Seneka"
og_description = "CRZ SENEKA oferuje szeroką gamę szkoleń online oraz stacjonarnie. Prowadzimy szkolenia VAT, szkolenia ODB, szkolenia JPK oraz szkolenia z prawa pracy."
og_type = "website"
og_image = "/seneka_logo_blue.png"
seo_keywords = "szkolenia"

[viewBag]
localeUrl[en] = "/crz-seneka-organizacja-i-przeprowadzenie-szkolen"
==
<?php
use Zoom\Seneka\Models\Categories as Category;
use Zoom\Seneka\Models\Lessons as Lesson;
use Zoom\Seneka\Models\Settings;
use Zoom\Seneka\Models\Region;
use Zoom\Seneka\Models\Location;

function onStart(){
    $this['categories'] = Category::all();
    //$this['locations'] = Location::active()->get();
$this['cities'] = Location::uniqueCity()->get();

//dump($this['cities']);

$this['regions'] = Region::all();

$categoriesFilter = [];

$categoriesFilter['time'] = Category::typeShowHome(true)->get();
$categoriesFilter['others'] = Category::typeShowHome(false)->orderBy('position','ASC')->get();
$categories = Category::all()->sortBy('position');

$documents = [
'application' => [ 'title' => null, 'pdf' => null, 'doc' => null],
'statement' => [ 'title' => null, 'pdf' => null, 'doc' => null],
'rodo' => [ 'title' => null, 'pdf' => null, 'doc' => null],
];

$this['sliders'] = Settings::instance()->picture_home;

$documents['application']['title'] = Settings::instance()->application_title;
$documents['application']['pdf'] = Settings::instance()->application_pdf;
$documents['application']['doc'] = Settings::instance()->application_doc;

$documents['statement']['title'] = Settings::instance()->statement_title;
$documents['statement']['pdf'] = Settings::instance()->statement_pdf;
$documents['statement']['doc'] = Settings::instance()->statement_doc;

$documents['rodo']['title'] = Settings::instance()->rodo_title;
$documents['rodo']['pdf'] = Settings::instance()->rodo_pdf;
$documents['rodo']['doc'] = Settings::instance()->rodo_doc;

$this['company_about'] = Settings::instance()->company_about;
$this['categoriesFilter'] = $categoriesFilter;
$this['documents'] = $documents;
$this['box_company'] = Settings::instance()->picture_company_box;
}
?>
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


<!-- Header -->
<header id="layout-header">

    {% partial 'header' color="dark" %}
</header>

<div class="maincntr">

    <div id="carouselExampleControls" style="position: relative;" class="home-carousel carousel slide"
         data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-none d-sm-block w-100"
                     src="https://www.crzseneka.com.pl/storage/app/uploads/public/5d2/d77/92c/crz-seneka-szkolenia-online-p.jpg"
                     alt="Szkolenia online oraz stacjonarnie - CRZ Seneka">

                <img class="d-block d-sm-none w-100"
                     src="https://www.crzseneka.com.pl/storage/app/uploads/public/5d2/d77/92c/crz-seneka-szkolenia-online-mobile-p.jpg"
                     alt="Szkolenia online oraz stacjonarnie - CRZ Seneka">

                <div style="position: absolute; top:20%; left:0; color:white; width:100%; text-align:center;">
                    <h2 class="d-none d-sm-block w-100" style="font-size:280%; padding-top:5%;">Organizujemy szkolenia
                        dla pracowników działów:<br/>
                        <i class="far fa-hand-point-right"></i></i> Księgowości<br/>
                        <i class="far fa-hand-point-right"></i> Kadr i płac &nbsp;&nbsp;<br/>
                        <i class="far fa-hand-point-right"></i> Handlowych<br/>
                    </h2>

                    <p class="d-block d-sm-none w-100" style="font-size:140%;">Organizujemy szkolenia dla pracowników
                        działów:<br/>
                        <i class="far fa-hand-point-right"></i></i> Księgowości<br/>
                        <i class="far fa-hand-point-right"></i> Kadr i płac &nbsp;&nbsp;<br/>
                        <i class="far fa-hand-point-right"></i> Handlowych<br/>
                    </p>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-none d-sm-block w-100"
                     src="https://www.crzseneka.com.pl/storage/app/uploads/public/szkolenia-z-jpk-vat-bdo-prawa-pracy-p6.jpg"
                     alt="Szkola z JPK, VAT, BDO oraz prawa pracy">

                <img class="d-block d-sm-none w-100"
                     src="https://www.crzseneka.com.pl/storage/app/uploads/public/szkolenia-z-jpk-vat-bdo-prawa-pracy-mobile-p6.jpg"
                     alt="Szkola z JPK, VAT, BDO oraz prawa pracy">

                <div style="position: absolute; top:20%; left:0; color:white; width:100%;">
                    <h1 class="d-none d-sm-block w-100" style="font-size:250%; padding-top:2%; padding-left:20%;">
                        Prowadzimy szkolenia w formie online i stacjonarnie:<br/>
                        <span style="font-size:80%;">
                     <i class="far fa-hand-point-right"></i></i> Najnowsze zmiany w podatku VAT<br/>
                       <i class="far fa-hand-point-right"></i> Jednolity plik kontrolny (JPK)<br/>
                          <i class="far fa-hand-point-right"></i> Baza danych o odpadach (BDO)<br/>
                          <i class="far fa-hand-point-right"></i> Środki trwałe nie tylko dla księgowych<br/>
                          <i class="far fa-hand-point-right"></i> Incoterms<br/>
                          <i class="far fa-hand-point-right"></i> VAT w obrocie międzynarodowym</span>
                    </h1>

                    <p class="d-block d-sm-none w-100" style="font-size:100%; text-align:center;">
                <span style="font-size:80%;">
                Prowadzimy szkolenia w formie online i stacjonarnie:<br/>
                     <i class="far fa-hand-point-right"></i> Najnowsze zmiany w podatku VAT<br/>
                       <i class="far fa-hand-point-right"></i> Jednolity plik kontrolny (JPK)<br/>
                          <i class="far fa-hand-point-right"></i> Baza danych o odpadach (BDO)<br/>
                          <i class="far fa-hand-point-right"></i> Środki trwałe nie tylko dla księgowych<br/>
                          <i class="far fa-hand-point-right"></i> Incoterms<br/>
                          <i class="far fa-hand-point-right"></i> VAT w obrocie międzynarodowym
                          </span>
                    </p>
                </div>

            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="">
        <div class="search">
            <form method="post" action="{{'lessons-category'|page}}" id="search__form">
                <div class="search__row">
                    <div class="search__form">
                        <select name="categories[]" class="search__form--choose" id="search__form--choose" style="font-size:90%!important;">
                            <option selected disabled hidden>{{ 'Typ szkolenia'|_ }}</option>
                            {% for category in categoriesFilter.time %}
                            <option value="{{ category.id }}"> {{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <script type="text/javascript">
                        let el = document.getElementById('search__form--choose');
                        let form = document.getElementById('search__form');
                        el.addEventListener('change', function (e){
                            if(e.target.value === '3'){
                                form.action = '/szkolenia-kategoria-online/'
                            }
                            if(e.target.value === '4'){
                                form.action = '/szkolenia-kategoria/'
                            }
                        })
                    </script>
                    <div class="search__form">
                        <select name="categories[]" class="search__form--choose" style="font-size:90%!important;">
                            <option selected disabled hidden>{{ 'Kategoria szkolenia'|_ }}</option>
                            {% for category in categoriesFilter.others %}
                            <option value="{{ category.id }}"
                                    class="{% if category.is_bold == true %} font-weight-bold{% endif %}"> {{
                                category.title }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="search__form">
                        <select name="region" class="search__form--choose" style="font-size:90%!important;">
                            <option selected disabled hidden>{{ 'Województwo'|_ }}</option>
                            {% for region in regions %}
                            <option value="{{ region.id }}"> {{ region.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="search__form">
                        <select name="city" class="search__form--choose" style="font-size:90%!important;">
                            <option selected disabled hidden>{{ 'Lokalizacja'|_ }}</option>
                            {% for city in cities %}
                            <option value="{{ city.city }}">{{ city.city }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="search__row">
                    <div class="search__form">
                        <h2 style="font-size:100%; font-weight:normal;" class="d-flex justify-content-center">
                            <button type="submit" class="search__form--search"><i class="fas fa-search"></i> SZUKAJ
                                SZKOLENIA
                            </button>
                        </h2>
                    </div>
                    <div class="search__form">
                        <h2 style="font-size:100%; font-weight:normal; min-width: 215px;"
                            class="d-flex justify-content-center">
                            <button type="reset" class="search__form--clear">WYCZYŚĆ FILTRY
                            </button>
                        </h2>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="photocntr">
    <div class="photo-title">
        <h2 style="font-size:38pt; font-weight:normal">Działy Naszych Szkoleń</h2>
    </div>
    <div class="photo js-photo owl-carousel owl-theme">
        <a class="photo__link" title="On-line" href="https://crzseneka.com.pl/szkolenia-kategoria/3">
            <div class="photo__square">
                <div class="photo__square--title">
                    <h3 style="font-size:100%; font-weight:bold;">ON - LINE</h3>
                </div>
                <div class="photo__square--image">

                    <div class="photo-news"
                         style="background-image:url(https://crzseneka.com.pl/storage/app/uploads/public/szkolenia-on-line.jpg)"></div>
                </div>
            </div>
        </a>
        <a class="photo__link" href="https://crzseneka.com.pl/szkolenia-kategoria/12">
            <div class="photo__square">
                <div class="photo__square--title">
                    <h3 style="font-size:100%; font-weight:bold;">Podatki i rachunkowość</h3>
                </div>
                <div class="photo__square--image">

                    <div class="photo-news"
                         style="background-image:url(https://crzseneka.com.pl/storage/app/uploads/public/podatki-i-rachunkowosc-crzseneka.jpg)"></div>
                </div>
            </div>
        </a>
        <a class="photo__link" href="https://crzseneka.com.pl/szkolenia-kategoria/14">
            <div class="photo__square">
                <div class="photo__square--title">
                    <h3 style="font-size:100%; font-weight:bold;">Kadry i płace</h3>
                </div>
                <div class="photo__square--image">

                    <div class="photo-news"
                         style="background-image:url(https://crzseneka.com.pl/storage/app/uploads/public/kadry-i-place-crzseneka.jpg)"></div>
                </div>
            </div>
        </a>
        <a class="photo__link" href="https://crzseneka.com.pl/szkolenia-kategoria/7">
            <div class="photo__square">
                <div class="photo__square--title">
                    <h3 style="font-size:100%; font-weight:bold;">Zamówienia publiczne</h3>
                </div>
                <div class="photo__square--image">

                    <div class="photo-news"
                         style="background-image:url(https://crzseneka.com.pl/storage/app/uploads/public/zamowienia-publiczne-crzseneka.jpg)"></div>
                </div>
            </div>
        </a>
        <a class="photo__link" href="https://crzseneka.com.pl/szkolenia-kategoria/28">
            <div class="photo__square">
                <div class="photo__square--title">
                    <h3 style="font-size:100%; font-weight:bold;">Prawo celne</h3>
                </div>
                <div class="photo__square--image">

                    <div class="photo-news"
                         style="background-image:url(https://crzseneka.com.pl/storage/app/uploads/public/szkolenia-online-i-stacjonarnie-vat.jpg)"></div>
                </div>
            </div>
        </a>
        <a class="photo__link" href="https://crzseneka.com.pl/szkolenia-kategoria/9">
            <div class="photo__square">
                <div class="photo__square--title">
                    <h3 style="font-size:100%; font-weight:bold;">Szkolenia dla jednostek budżetowych</h3>
                </div>
                <div class="photo__square--image">

                    <div class="photo-news"
                         style="background-image:url(https://crzseneka.com.pl/storage/app/uploads/public/szkolenia-dla-jednostek-budzetowych.jpg)"></div>
                </div>
            </div>
        </a>
        <a class="photo__link" href="https://crzseneka.com.pl/szkolenia-kategoria/42">
            <div class="photo__square">
                <div class="photo__square--title">
                    <h3 style="font-size:100%; font-weight:bold;">Inne</h3>
                </div>
                <div class="photo__square--image">

                    <div class="photo-news"
                         style="background-image:url(https://crzseneka.com.pl/storage/app/uploads/public/szkolenia-online-i-stacjonarnie-vat.jpg)"></div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="newscntr">
    <h2 class="news-title">
        {{ 'Aktualności'|_ }}
    </h2>
    <div class="news">
        {% for record in records %}
        <div class="col-12 col-sm-6 col-lg-3 mb-4" style="height: 450px">
            <div class="news__square">
                {# Use spaceless tag to remove spaces inside the A tag. #}
                {% spaceless %}
                <div class="news__square--date">
                    {{record.date|date("d.m.Y")}}
                </div>
                <h2 style="font-size:100%;" class="news__square--title">
                    <a href="https://crzseneka.com.pl/aktualnosci/{{record.id}}/{{str_snake(record.title, '-')}}"
                       class="link">{{record.title}}</a>
                </h2>
                <div class="news__square--text">
                    {{record.text[:300]|striptags}}...
                </div>
                <div class="news__square--link">
                    <a href="https://crzseneka.com.pl/aktualnosci/{{record.id}}/{{str_snake(record.title, '-')}}"
                       style="font-weight:normal; font-size:80%;" class="link">Czytaj więcej <i
                            class="fas fa-share"></i></a>
                </div>
                {% endspaceless %}
            </div>
        </div>
        {% endfor %}

    </div>

    <div class="news__more"><a class="news__square--button" href="{{ 'news'|page }}">Wszystkie</a></div>
</div>

<div class="newscntr">
    <h2 class="news-title">
        Najczęściej wybierane szkolenia
    </h2><br/><br/>

    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div style="background-color:#E9EBF0; padding:4%; height: 490px">
                <h2 style="font-size:130%;" class="news__square--title"><i class="fas fa-money-bill-wave"></i> SZKOLENIA
                    VAT</h2>
                <div class="news__square--text">
                    <b>Szkolenia VAT</b> to obszar szkoleń z zakresu tematyki podatku VAT. Na naszych szkoleniach z
                    podatku VAT szczególną uwagę poświęcamy wiedzy praktycznej, prezentując liczne przykłady. Wiemy, jak
                    ważna jest rzetelna i aktualna wiedza, dlatego współpracujemy tylko z certyfikowanymi
                    szkoleniowcami. Podczas szkolenia przekazujemy Państwu wszelkie aspekty prawne dotyczące podatku VAT
                    w kontekście prawa RP, jak i również prawa wewnątrzwspólnotowego UE. Organizowane przez nas
                    szkolenia podatkowe przeprowadzamy online w formie nowoczesnego wirtualnego pokoju konferencyjnego
                    lub stacjonarnie w sali konferencyjnej. Na koniec szkolenia VAT otrzymują państwo certyfikat
                    potwierdzający uczestnictwo.
                </div>
            </div>
            <a href="https://www.crzseneka.com.pl/szkolenia-kategoria/2" class="news__square--button"
               style="width:100%; margin-top:1%;"><i class="fas fa-hand-point-right"></i> Sprawdź aktualne szkolenia VAT</a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div style="background-color:#E9EBF0; padding:4%; height: 490px">
                <h2 style="font-size:130%;" class="news__square--title"><i class="fas fa-window-restore"></i> SZKOLENIA
                    JPK</h2>
                <div class="news__square--text">
                    Szkolenia z zakresu Jednolitego Pliku Kontrolnego VAT obejmują aspekt prawny oraz informatyczny. Na
                    naszych szkoleniach JPK stawiamy głównie nacisk na przekazanie wiedzy praktycznej dotyczącej
                    najnowszych zasad deklarowania i ewidencjonowania podatku od towarów i usług, a także zakres i
                    sposób prezentowania danych w systemie informatycznym. Organizowane przez nas szkolenia z zakresu
                    Jednolitego Pliku Kontrolnego VAT przeprowadzamy stacjonarnie lub online w formie otwartej lub
                    zamkniętej. <b>Szkolenia JPK</b> to idealna okazja do uzyskania rzetelnej oraz aktualnej wiedzy na
                    temat Jednolitego Pliku Kontrolnego VAT. Naszą ofertę szkoleń JPK kierujemy głównie do kadr oraz
                    księgowości.

                </div>
            </div>
            <a href="https://www.crzseneka.com.pl/szkolenia-kategoria/1" class="news__square--button"
               style="width:100%; margin-top:1%;"><i class="fas fa-hand-point-right"></i> Sprawdź aktualne szkolenia JPK</a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div style="background-color:#E9EBF0; padding:4%; height: 490px">
                <h2 style="font-size:130%;" class="news__square--title"><i class="fas fa-recycle"></i> SZKOLENIA BDO
                </h2>
                <div class="news__square--text">
                    Nowe przepisy dotyczące baz danych o odpadach zobowiązują do dokumentowania całego procesu
                    zbierania, przetwarzania oraz transportu odpadów przez przedsiębiorstwa. Na naszych szkoleniach BDO
                    zdobędą państwo rzetelną i aktualną wiedzę na temat gospodarki odpadami - zasady funkcjonowania,
                    obowiązki przedsiębiorcy, opłaty środowiskowe, sankcje i kary, oraz obsługa elektronicznego systemu
                    zarządzania bazą danych odpadowych. <b>Szkolenia BDO</b> prowadzimy online w formie nowoczesnego
                    wirtualnego pokoju konferencyjnego lub stacjonarnie. Po ukończeniu szkolenia z zakresu baz danych
                    odpadowych otrzymujesz certyfikat potwierdzający uczestnictwo. Na szkolenia zapraszamy szczególnie
                    przedsiębiorców oraz działy kadrowo-księgowe.

                </div>
            </div>
            <a href="https://www.crzseneka.com.pl/szkolenia-kategoria/1" class="news__square--button"
               style="width:100%; margin-top:1%;"><i class="fas fa-hand-point-right"></i> Sprawdź aktualne szkolenia BDO</a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div style="background-color:#E9EBF0; padding:4%; height: 490px">
                <h2 style="font-size:120%;" class="news__square--title"><i class="far fa-address-book"></i> SZKOLENIA
                    PRAWO PRACY</h2>
                <div class="news__square--text">
                    Oferujemy szeroki zakres tematyki podczas szkoleń z prawa pracy dotyczącej aktualnych przepisów,
                    podstaw prawa oraz różnego typu aspektów takich jak: czas pracy, obowiązki pracodawcy i pracownika,
                    planowanie czasu pracy, rozliczenia i itp. Prawo pracy i wiedza na jego temat to podstawa dobrze
                    funkcjonującego przedsiębiorstwa dlatego do prowadzenia naszych szkoleń zapraszamy tylko
                    certyfikowanych szkoleniowców, którzy posiadają aktualną oraz rzetelną wiedzę na ten temat. Nasze
                    szkolenia z prawa pracy prowadzimy w formie warsztatów, przedstawiając liczne praktyczne przykłady
                    użycia zdobytej wiedzy. Po szkoleniu z prawa pracy otrzymujesz certyfikat potwierdzający
                    uczestnictwo oraz zdobytą wiedzę.

                </div>
            </div>
            <a href="https://www.crzseneka.com.pl/szkolenia-kategoria/1" class="news__square--button"
               style="width:100%; margin-top:1%;"><i class="fas fa-hand-point-right"></i> Sprawdź szkolenia z prawa
                pracy </a>
        </div>

    </div>
</div>
<br/>


<div class="triplecntr" style="margin-top: 100px;">
    <div class="triple">
        {% for category in categoriesFilter.time %}
        <div class="triple__column">
            <div class="square">
                <div class="square__top">
                    {{ 'Szkolenia'|_ }}
                </div>
                <div class="square__title">
                    {{category.title}}
                </div>
                <div class="square__mid">
                    {{category.description|raw}}
                </div>
                {#
                <div class="square__bot">
                    {{ 'Aktualna liczba szkoleń'|_ }}
                </div>
                <div class="square__number">
                    <span class="count" data-from="0" data-to="{{ category.countActiveLessons }}"
                          data-speed="1000"></span>
                </div>
                #}
                <div class="square__icon">
                    {% if category.is_online == 1 %}
                    <a href="{{ 'lessons-category-online'|page({id : category.id}) }}" class="link-2"><i
                            class="fas fa-search square__icon--icon"></i></a>
                    {% else %}
                    <a href="{{ 'lessons-category'|page({id : category.id}) }}" class="link-2"><i
                            class="fas fa-search square__icon--icon"></i></a>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="company" style="margin-top: 150px;">
    <div class="about">
<!--         <div class="about__column about__column--image" -->
<!--              style="background-image: url({{ box_company.thumb(650,650,'crop') }})"> -->

<!--         </div> -->
        <div class="about__column about__column--text" style="width: 100%; max-width:100%; flex: none">
            <div class="box"  style="width: 100%">
                <div class="box__title" style="padding-top: 5%">
                    {{ 'O firmie'|_ }}
                </div>
                <div class="box__text">
                    {{ company_about[:778]|raw }}
                </div>
                <div class="box__down">
                    <a type="button" href="https://crzseneka.com.pl/ofirmie" class="box__down--button">{{ 'Więcej'|_
                        }}</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="iconscntr">
    <div class="icons">
        <div class="icons__square">
            <div class="sq">
                <div class="sq__photo">
                    <img data-src="{{ 'assets/dist/images/poland.png'|theme }}" class="lazyload"
                         alt="Oferujemy szkolenia na terenie całej Polski">
                </div>
                <div class="sq__text">
                    {{ 'Szkolenia na terenie całego kraju'|_ }}
                </div>
            </div>
        </div>
        <div class="icons__square">
            <div class="sq">
                <div class="sq__photo">
                    <img data-src="{{ 'assets/dist/images/person.png'|theme }}" class="lazyload"
                         alt="Prowadzenie szkoleń online">
                </div>
                <div class="sq__text">
                    {{ 'Profesjonalna kadra'|_ }}
                </div>
            </div>
        </div>
        <div class="icons__square">
            <div class="sq">
                <div class="sq__photo">
                    <img data-src="{{ 'assets/dist/images/cup.png'|theme }}" class="lazyload"
                         alt="Szkolenia online oraz stacjonarne">
                </div>
                <div class="sq__text">
                    {{ 'Wiedza, Praktyka'|_ }}
                </div>
            </div>
        </div>
        <div class="icons__square">
            <div class="sq">
                <div class="sq__photo">
                    <img data-src="{{ 'assets/dist/images/cert.png'|theme }}" class="lazyload"
                         alt="Certyfikaty szkoleń CRZSeneka">
                </div>
                <div class="sq__text">
                    {{ 'Zawsze aktualny stan prawny i gwarancja nawyższej jakości szkoleń'|_ }}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="attachments" class="attachmentscntr">
    <div class="attachments">
        {% for document in documents %}
        <div class="attachments__sq">
            <div class="attachments__sq-box">
                {{ document.title }}
            </div>
            {% if document.doc %}
            <a href="{{ document.doc.getPath() }}" title="Załącznik"><i class="attachments__icon far fa-file"></i></a>
            {% endif %}
            {% if document.pdf %}
            <a href="{{ document.pdf.getPath() }}" title="Załącznik"><i
                    class="attachments__icon attachments__icon--2 fas fa-file-pdf"></i></a>
            {% endif %}
        </div>
        {% endfor %}

    </div>
</div>
