title = "Poznaj naszą firmę oraz wizję - CRZ Seneka"
url = "/kodeks-dobrych-praktyk"
layout = "default"
is_hidden = 0
meta_title = "Kodeks dobrych praktyk - CRZ Seneka"
meta_description = "Od 2005 r. przeprowadzamy szkolenia vat, szkolenia bdo, szkolenia jpk oraz szkolenia z prawa pracy - stacjonarnie jak i online."
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 1
use_updated_at = 0
changefreq = "always"
priority = 0.1
og_title = "Poznaj naszą firmę"
og_description = "Od 2005 r. przeprowadzamy szkolenia vat, szkolenia bdo, szkolenia jpk oraz szkolenia z prawa pracy - stacjonarnie jak i online."
og_type = "website"
og_image = "/as.png"
seo_keywords = "szkolenia vat, szkolenia bdo, szkolenia jpk, szkolenie prawo pracy, szkolenia vat online, szkolenia bdo online, szkolenia jpk online, szkolenie prawo pracy online"

[viewBag]
localeUrl[en] = "/crz-seneka-organizacja-i-przeprowadzenie-szkolen"

[builderList]
modelClass = "Zoom\Seneka\Models\Teacher"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No founds"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<?php
use Zoom\Seneka\Models\Settings;

function onStart(){

    $texts = [];


    $texts['company_history'] = Settings::instance()->company_history;
    $texts['company_about'] = Settings::instance()->company_about;
    $texts['company_teachers'] = Settings::instance()->company_teachers;
    $texts['company_persons_title'] = Settings::instance()->company_persons_title;
    $texts['company_persons_value'] = Settings::instance()->company_persons_value;
    $texts['company_range_title'] = Settings::instance()->company_range_title;
    $texts['company_range_value'] = Settings::instance()->company_range_value;
    $texts['company_cities_title'] = Settings::instance()->company_cities_title;
    $texts['company_cities_value'] = Settings::instance()->company_cities_value;

    $this['texts'] = $texts;
    $this['slider'] = Settings::instance()->picture_company;
}
?>
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<!-- Header -->
<header id="layout-header">
    {% partial 'header' color="dark" %}
</header>
<div id="carousel" class="slider" data-ride="carousel" style="position:relative;">
    <div class="slider__content">
        <div class="slider__item active">
            <img class="" style="min-height: 100%; min-width: 100%;" src="https://crzseneka.com.pl/storage/app/uploads/public/o-firmie-crz-szkolenia.jpg" alt="Parę słów o nas - CRZ Seneka" >
            <div style="position:absolute; top:40%; color:white; text-align:center; width:100%;"><h1>Centrum Rozwoju Zawodowego Seneka<br /> <span style="font-size:70%">Kodeks Dobrych Praktyk</span></h1></div>
        </div>
            </div>
</div>

<div class="aboutpage__content">
    <div class="aboutpage__title">
        {{ 'Kodeks Dobrych Praktyk'|_ }}
    </div>
    
    <div class="form__row">
       <div class="col form__checktext">
          <p> <u> <b>INFORMACJE O FIRMIE</b></u></p>
                <p> 1. Podaje informacje zgodnie z zasadą nie wprowadzania w błąd. </p>
                2. Rzetelnie informuje o firmie w zakresie:
                    <ul>
                        <li>ilości przeprowadzonych szkoleń,</li>
                        <li>zasobów,</li>
                       <li> możliwości wykonania usługi,</li>
                        <li>doświadczenia,</li>
                        <li>referencji,</li>
                        <li>liczby i kwalifikacji osób zatrudnionych.</li>
                    </ul> 
           3. Prezentuje trenerów (wykonawców) podając ich: <br>
           <ul>
           <li>doświadczenie,</li>
            <li>kompetencje</li>   
           <li>wykształcenie.</li>
           </ul>
           
           <p> <u><b>OFERTA I PROMOCJA OFERT</b></u></p>
           <p>1. Przedstawia metodologię działania dobraną do rodzaju usługi.</p>
           <p>2. Posługuje się wzorcem pełnego procesu szkoleniowego.</p>
3. Powołując się na referencje podaje precyzyjne informacje o własnych referencjach, oddzielając je od:
           <ul>
               <li>referencji trenera uzyskanych poza jego organizacją,</li>
               <li>referencji wynikających z projektów realizowanych jako podwykonawca.</li>
               </ul>
           <p>4. Formułuje cele, działania, prezentuje efekty realne i możliwe do osiągnięcia.</p>
<p>5. Rzetelnie informuje o możliwości osiągnięcia celów biznesowych drogą działań szkoleniowych.</p>
<p>6. Przedstawia jasne i rzetelne informacje na temat stosowanych narzędzi i celów ewaluacji.</p>
           <p><u><b>WYKONANIE</b></u></p>
           <p>1. Weryfikuje i troszczy się o przygotowanie trenerów realizujących szkolenie.</p>
           <p>2. Starannie dobiera trenerów o kompetencjach adekwatnych do potrzeb i działających według Kodeksu Dobrych Praktyk, gwarantując zgodność ich wykształcenia i kwalifikacji z tematyką szkoleń.</p>
           <p>3. Rekomenduje miejsca wykonania usługi zapewniające realizację przyjętych celów i uzgodniony standard wykonania.</p>
<p>4. Dąży do określenia rzeczywistych potrzeb szkoleniowych organizacji, zamawiającego i uczestników.</p>
<p>5. Dobiera i realizuje odpowiednie do szkolenia metody, formy i narzędzia szkoleniowe.</p>
<p>6. Dba o przejrzystość celów działań.</p>
<p>7. Nie łączy w jednym szkoleniu procesu uczenia się z ocenianiem czy selekcją uczestników bez ich wiedzy.</p>
<p>8. Proponuje ewaluacje swoich działań i gotowy jest poddać się takiej ewaluacji.</p>
           <p><u><b>RELACJE Z OTOCZENIEM, KLIENTEM</b></u></p>
           <p>1. Zawiera umowy na zasadach partnerskich.</p>
           <p>2. Rzetelnie przedstawia Klientowi warunki wykonania usługi.</p>
<p>3. Umieszcza Klientów na liście referencyjnej wyłącznie po uzyskaniu ich zgody.</p>
           <p>4. Zapewnia poufność informacji uzyskanych na wszystkich etapach współpracy z Klientem.</p>
           <p>5. Wystawia zaświadczenia zgodne z rzeczywistą usługą.</p>
6. Reguluje zobowiązania wobec:
           <ul>
<li>dostawców,</li>
<li>pracowników,</li>
<li>odbiorców,</li>
<li>partnerów.</li>
               </ul>
           <p>7. Przestrzega praw autorskich i nie wykorzystuje know-how, do którego nie ma prawa.</p>
<p>8. Nie stosuje działań dumpingowych.</p>
<p>9. Przeciwdziała praktykom korupcjogennym.</p>
<p>10. Nie narusza dobrego imienia innych podmiotów lub osób (konkurencji).</p>
<p>11. Nie stosuje reklamy negatywnej.</p>
<p>12. Nie stawia Klienta w gorszej sytuacji (stosuje zasady win-win).</p>
<p>13. Nie wysyła informacji zakwalifikowanej jako spam.</p>


           <p>Pozyskiwanie wiedzy i doskonalenie umiejętności jest warunkiem rozwoju i zwiększania konkurencyjności każdej firmy. Ważnym elementem procesu uczenia się, są szkolenia. Szkolenia, czyli przemyślane, profesjonalnie prowadzone, efektywne sytuacje edukacyjne, po których ludzie więcej wiedzą, umieją i mają motywację do wprowadzania zdobytej wiedzy i umiejętności w codzienną praktykę.</p>
<p>Nowoczesne szkolenie posługuje się metodami aktywnymi, opiera na profesjonalnych materiałach, odpowiada na realne potrzeby osób i organizacji.
Prowadzący szkolenia muszą mieć zarówno wiedzę ekspercką, jak i umiejętność uczenia oraz inspirowania uczestników do stosowania zdobytej wiedzy i umiejętności w praktyce. Muszą umieć tworzyć sytuację, w której uczestnicy analizują, eksperymentują, doświadczają, rozwiązują problemy i motywują się. Celem szkolenia jest doprowadzenie do zrozumienia, albo wyćwiczenia nowych umiejętności oraz inspiracja do zmiany.</p>
<p>Na rynku usług szkoleniowych jest już dużo firm, które tak właśnie pracują. Jednocześnie, zgodnie z zasadą „uczyć każdy może”, pojawia się bardzo dużo propozycji złej jakości. Kilka tysięcy firm szkoleniowych, gąszcz informacji, brak możliwości weryfikacji ofert to realia firm pragnących szkolić swoich pracowników. Dokonanie właściwego wyboru nie jest rzeczą łatwą dla decydenta ani sytuacją komfortową dla firmy szkolącej.</p>
<p><b>Centrum Rozwoju Zawodowego SENEKA s.c.</b> proponuje Kodeks Dobrych Praktyk. Zawiera on wszystkie elementy niezbędne do identyfikacji profesjonalnej firmy szkoleniowej. Jest on dokumentem upowszechniającym profesjonalne zachowania w środowisku szkoleniowym, a jego stosowanie stanowi dobrowolną formę poddania się rygorom etycznym i merytorycznym.</p>
            </div>
</div>
    <!--
    <div class="aboutpage__text">
        {{ texts.company_history|raw }}
        
            <div class="col form__checktext">
                 1. Podaje informacje zgodnie z zasadą nie wprowadzania w błąd. <br>
                2. Rzetelnie informuje o firmie w zakresie:
                    <ol type="-">
                        <li>ilości przeprowadzonych szkoleń,</li>
                        <li>zasobów,</li>
                    </ol>
            </div>
    </div>
    
</div>-->
