title = "Szkolenia online VAT, JPK, BDO, prawo pracy - CRZ Seneka"
url = "/szkolenia-kategoria-online/:id?0"
layout = "default"
is_hidden = 0
meta_description = "Szkolenia BDO online i stacjonarnie. Baza danych o odpadach - nowe aspekty.  Szkolenia JPK - najnowsze zmiany w przepisach podatkowych. Szkolenia VAT online."
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 0
use_updated_at = 0
changefreq = "always"
priority = 0.1

[viewBag]
localeUrl[en] = "/crz-seneka-organizacja-i-przeprowadzenie-szkolen"
==
<?php
use Zoom\Seneka\Models\Categories as Category;
use Zoom\Seneka\Models\Lessons as Lesson;
use Zoom\Seneka\Models\Region;
use Zoom\Seneka\Models\Teacher;
use Zoom\Seneka\Models\Location;
use Zoom\Seneka\Models\Settings;


function onStart(){

    $search = [];
    $lessons = null;

    if(Input::has('categories')){
        $search['categories'] =  Input('categories');
    }
    if(Input::has('teacher')){
        $search['teacher'] =  Input('teacher');
    }
    if(Input::has('city')){
        $search['city'] =  Input('city');
    }

    $categoryId = $this->param('id');

if($categoryId){
$lessons = Lesson::category($categoryId)->where('online', 1)->get();
}
elseif(count($search) > 0){
$lessons = Lesson::search($search)->get();
}
else{
//$lessons = Lesson::all();
        $lessons = Lesson::where('online',1)->get();
}

//Sort
if($categoryId == 3 || (isset($search['categories'][0]) &&  count($search['categories']) == 1 && $search['categories'][0] == 3 )){
$lessons = $lessons->sortBy('date');
} else {
$lessons = $lessons->sortBy('date');
}


$categoriesFilter['time'] = Category::typeShowHome(true)->get();
$categoriesFilter['others'] = Category::typeShowHome(false)->orderBy('position','ASC')->get();
$categories = Category::all()->sortBy('position');


//$this['locations'] = Location::active()->get();

$this['slider'] = Settings::instance()->picture_lessons;
$this['cities'] = Location::uniqueCity()->get();
$this['lessons'] = $lessons;
$this['categoriesFilter'] = $categoriesFilter;
$this['regions'] = Region::all();

}


function onFilter(){
//print_r(Input::all());

$search = [];
if(Input::has('categories')){
$search['categories'] =  Input('categories');
}

if(Input::has('city') && !empty(Input('city'))){
$search['city'] =  Input('city');
}
if(Input::has('date_from') && !empty(Input('date_from'))){
$search['date_from'] =  Input('date_from');
}
if(Input::has('date_to') && !empty(Input('date_to'))){
$search['date_to'] =  Input('date_to');
}

if(Input::has('region') && !empty(Input('region'))){
$search['region'] =  Input('region');
}

if(count($search) > 0){
$lessons = Lesson::search($search)->get();
//Sort
if(isset($search['categories'])
&& is_array($search['categories'])
&& in_array(3, $search['categories'])){
$lessons = $lessons->sortBy('date');
} else {
$lessons = $lessons->sortBy('title');
}
}
else{
$lessons = null;
}

$this['lessons'] = $lessons;
}
?>
==
<header id="layout-header">

    {% partial 'header' color="dark" %}
</header>

<div id="carousel" class="slider" data-ride="carousel" style="position:relative;">
    <div class="slider__content">
        <div class="slider__item active">
            <img class="" style="min-height: 100%; min-width: 100%;"
                 src="https://crzseneka.com.pl/storage/app/uploads/public/szkolenia-online-dla-kadr-i-ksiegowych.jpg"
                 alt="Parę słów o nas - CRZ Seneka">
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: #eaebf0;">
    <form data-request="onFilter" data-request-update="_searchresults: '#lessons'">
        <div class="search-form">
            <div class="search-form__row">
                <div class="search-form__col search-form__col--input">
                    <div class="search-form__input">
                        <select name="categories[]" class="search__form--choose">
                            <option value="" selected> {{ 'Typ szkolenia'|_ }}</option>
                            {% for category in categoriesFilter.time %}
                            <option value="{{ category.id }}"> {{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="search-form__input">
                        <select name="categories[]" class="search__form--choose">
                            <option value="" selected>{{ 'Kategoria szkolenia'|_ }}</option>
                            {% for category in categoriesFilter.others %}

                            <option value="{{ category.id }}"
                                    class="{% if category.is_bold == true %} font-weight-bold{% endif %}"> {{
                                    category.title }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="search-form__input">
                        <select name="city" class="search__form--choose">
                            <option value="" selected>{{ 'Lokalizacja'|_ }}</option>
                            {% for city in cities %}
                            <option value="{{ city.city }}">{{ city.city }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="search-form__input search-form__input--regions">
                        <select name="region" class="search__form--choose">
                            <option value="" selected>{{ 'Województwo'|_ }}</option>
                            {% for region in regions %}
                            <option value="{{ region.id }}">{{ region.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="search-form__input">
                        <input name="date_from" class="search__form--city" type="date"
                               placeholder="{{ 'w okresie od'|_ }}">
                    </div>
                    <div class="search-form__input">
                        <input name="date_to" class="search__form--city" type="date"
                               placeholder="{{ 'w okresie do'|_ }}">
                    </div>

                </div>
                <div class="search-form__col search-form__col--submit flex-column justify-content-lg-around">
                    <button type="submit" class="search__form--search search__form--search--sm"><i
                            class="fas fa-search"></i> SZUKAJ SZKOLENIA
                    </button>
                    <button type="reset" class="search__form--clear">WYCZYŚĆ FILTRY
                    </button>
                </div>
            </div>
    </form>
</div>
<div class="lessons__content">
    <div class="lessons__menu">
        <div class="lessons__menu-select">
            {% for region in regions %}
            <div class="menu__option">
                <a data-request="onFilter" style="cursor:pointer;" data-request-data="region: {{ region.id }}"
                   data-request-update="_searchresults: '#lessons'">{{ region.name }}</a>
            </div>
            {% endfor %}
        </div>
        <div id="lessons" class="lessons__menu-result">
            {% partial "_searchresults" lessons=lessons online=true%}
        </div>
    </div>
</div>
