title = "Szkolenie VAT, JPK, BDO, prawo pracy online lub stacjonarnie"
url = "/szkolenie/:id"
layout = "default"
is_hidden = 0
meta_description = "W naszej ofercie znajdą Państwo - szkolenia JPK, szkolenia VAT, szkolenia BDO, szkolenia prawa pracy. Szkolenia przeprowadzamy online lub stacjonarnie."
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 0
use_updated_at = 0
changefreq = "always"
priority = 0.1

[viewBag]
localeUrl[en] = "/crz-seneka-organizacja-i-przeprowadzenie-szkolen"

[builderDetails]
modelClass = "Zoom\Seneka\Models\Lessons"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "id"
notFoundMessage = "Brak szkolenia"
==
<?php
use Zoom\Seneka\Models\Settings;
function onStart(){
    $documents = [
        'application' => [ 'title' => null, 'pdf' => null, 'doc' => null],
'statement' => [ 'title' => null, 'pdf' => null, 'doc' => null],
'rodo' => [ 'title' => null, 'pdf' => null, 'doc' => null],
];

$documents['application']['title'] = Settings::instance()->application_title;
$documents['application']['pdf'] = Settings::instance()->application_pdf;
$documents['application']['doc'] = Settings::instance()->application_doc;

$documents['statement']['title'] = Settings::instance()->statement_title;
$documents['statement']['pdf'] = Settings::instance()->statement_pdf;
$documents['statement']['doc'] = Settings::instance()->statement_doc;

$documents['rodo']['title'] = Settings::instance()->rodo_title;
$documents['rodo']['pdf'] = Settings::instance()->rodo_pdf;
$documents['rodo']['doc'] = Settings::instance()->rodo_doc;
$this['documents'] = $documents;
}
?>
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<header id="layout-header">

    {% partial 'header' color="light" %}
    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script>
        $('document').ready(function () {
            $('meta[name=description]').remove();
            $('head').append('<meta name="description" content="{{ record.title }}">');
        });
    </script>
</header>

<div class="lesson-cont ">
    {% if not record.isAvailable() %}
    <div class="lesson-cont__title">
        {{notFoundMessage}}
    </div>
    {% else %}
    <div class="lesson-cont__title">
        {{record.title|raw}}
    </div>
    <div class="row" style="margin-top: 50px">
        <div class="lesson-cont__box">

            <div class="lesson-cont__col lesson-cont__col--1">
                <div class="lesson-cont__col__title">
                    {{ 'Termin'|_ }}
                </div>

                <div class="lesson-cont__col__content" style="color: white; font-weight: bold">
                    {%if record.date != '' %}  {{record.date|date("d-m-Y")}}<br /> {%endif%}
                    {%if record.date2 != '' %} {{record.date2|date("d-m-Y")}}<br /> {%endif%}
                    {%if record.date3 != '' %} {{record.date3|date("d-m-Y")}}<br /> {%endif%}
                    {%if record.date4 != '' %} {{record.date4|date("d-m-Y")}}<br /> {%endif%}
                    {%if record.date5 != '' %} {{record.date5|date("d-m-Y")}}<br /> {%endif%}
                    {%if record.date6 != '' %} {{record.date6|date("d-m-Y")}}<br /> {%endif%}
                    {%if record.date7 != '' %} {{record.date7|date("d-m-Y")}}<br /> {%endif%}
                    {%if record.date8 != '' %} {{record.date8|date("d-m-Y")}}<br /> {%endif%}
                    {%if record.date9 != '' %} {{record.date9|date("d-m-Y")}}<br /> {%endif%}
                    {%if record.date10 != '' %} {{record.date10|date("d-m-Y")}}<br /> {%endif%}
                    <br />


                </div>

                <div class="lesson-cont__col__title" style="color: white">
                                     {{ 'Godzina'|_ }}
                                 </div>
                                 <div class="lesson-cont__col__content" style="color: white">
                                             {%if record.hours != '' %} {{record.hours}}<br /> {%endif%}
                                 </div>
            </div>
            {%if record.duration != "" %}
                                <div class="lesson-cont__col lesson-cont__col--3">

                                <div class="lesson-cont__col__title" style="color: white">
                                                    {{ 'Czas szkolenia'|_ }}
                                                </div>
                                                <div class="lesson-cont__col__content" style="color: white">
                                                {{ record.duration }}
                                                </div>
                                </div>
                                {% endif %}
            <div class="lesson-cont__col lesson-cont__col--2">
                <div class="lesson-cont__col__title" style="color: white">
                    {{ 'Miejsce szkolenia'|_ }}
                </div>
                <div class="lesson-cont__col__content" style="color: white" >
                    <span>{{record.location.city }}</span><br>
                    {{ record.location.name|raw }}
                </div>
            </div>
            <div class="lesson-cont__col lesson-cont__col--3">
                <div class="lesson-cont__col__title">
                    {{ 'Koszt uczestnictwa '|_ }}<br>
                    <span>{{ 'jednej osoby'|_ }}</span>
                </div>
                <div class="lesson-cont__col__content" style="color: white">
                    {{record.price}}
                </div>
            </div>
            {% if record.isAvailable() %}
            <a href="{{ 'form'|page({lesson_id : record.id}) }}" id="order-button"
               class="js-order-button lesson-program__button--link">
                <div class="lesson-program__button">
                    {{ 'ZGŁOŚ UDZIAŁ W SZKOLENIU'|_ }}
                </div>
            </a>
            {% endif %}
        </div>
        <div class="lesson-program">
            {% if record.method %}
            <div class="lesson-program__title">
                {{ 'Metoda'|_ }}
            </div>
            <div class="lesson-program__text">
                {{record.method.description|raw}}
            </div>
            {% endif %}
            {% if (record.target) or (record.target2) %}
            <div class="lesson-program__title">
                {{ 'Adresaci'|_ }}
            </div>
            <div class="lesson-program__text">
                {% if record.target %}
                <div>{{record.target.description|raw}}</div>
                {% endif %}
                {% if record.target %}
                <div>{{record.target2.description|raw}}</div>
                {% endif %}
            </div>
            {% endif %}
            <div class="lesson-program__title lesson-program__title--important">
                {{ 'Program szkolenia'|_ }}
            </div>
            <div class="lesson-program__text lesson-program__text--important">
                {{record.program.description|raw}}
            </div>

            {% if record.comment or record.comment2 %}
            <div class="lesson-program__text">
                {% if record.comment %}
                <div>{{record.comment.description|raw}}</div>
                {% endif %}
                {% if record.comment2 %}
                <div>{{record.comment2.description|raw}}</div>
                {% endif %}
            </div>
            {% endif %}
            <div class="lesson-program__bottom">
                {% if record.teacher %}
                <div class="lesson-program__title">
                    {{ 'Wykładowca'|_ }}
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        {% if record.teacher.avatar %}
                        <div class="aboutpage__photo"
                             style="background-image: url({{ record.teacher.avatar.getPath() }})">
                        </div>
                        {% else %}
                        <div class="aboutpage__photo"
                             style="background-image: url({{ 'assets/dist/images/default-non-user-no-photo.jpg'|theme }}) ">
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-8 p-3">
                        <div class="aboutpage__name">
                            {{record.teacher.name}}
                        </div>
                        <div class="aboutpage__stan">
                            {{record.teacher.position}}
                        </div>
                        <div class="aboutpage__opis">
                            {{record.teacher.content|raw}}
                        </div>
                    </div>
                </div>

                {% else %}
                <div class="aboutpage__name">
                    {{ 'Brak informacji o wykładowcy.'|_ }}
                </div>
                {% endif %}
            </div>
            <div>
                {% if record.isAvailable() %}
                <a href="{{ 'form'|page({lesson_id : record.id}) }}" class="lesson-program__button--link">
                    <div class="lesson-program__button">
                        {{ 'ZGŁOŚ UDZIAŁ W SZKOLENIU'|_ }}
                    </div>
                </a>
                {% endif %}
            </div>
            {#
            <div class="lesson-program__bottom">
                <div class="lesson-program__title">
                    Certyfikat i materiały
                </div>
                <div class="text-center pt-4">
                    Certyfikat ukończenia szkolenia
                </div>
            </div>
            #}
            <div class="lesson-program__bottom">
                <div class="lesson-program__title">
                    Dokumenty do pobrania ( do wydruku )
                </div>
                <div class="text-center pt-4">
                    <div class="row">
                        {% if documents.application %}
                        <div class="col-md">
                            <a href="{{ documents.application.doc.getPath() }}" target="_blank"><i
                                    class="fas fa-file-word" style="font-size: 3rem;"></i></a>
                            <a href="{{ documents.application.pdf.getPath() }}" target="_blank"><i
                                    class="fas fa-file-pdf" style="font-size: 3rem;"></i></a>
                            <div class="pt-3">{{documents.application.title}}</div>
                        </div>
                        {% endif %}
                        {% if documents.statement %}
                        <div class="col-md">
                            <a href="{{ documents.statement.doc.getPath() }}" target="_blank"><i
                                    class="fas fa-file-word" style="font-size: 3rem;"></i></a>
                            <a href="{{ documents.statement.pdf.getPath() }}" target="_blank"><i class="fas fa-file-pdf"
                                                                                                 style="font-size: 3rem;"></i></a>
                            <div class="pt-3">{{documents.statement.title}}</div>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
