title = "Aktualności | Szkolenia VAT, JPK, BDO, prawo pracy"
url = "/aktualnosci/:page?"
layout = "default"
is_hidden = 0
meta_description = "Bądź na bieżąco z aktualnościami dotyczącymi podatku VAT, baz danych odpadowych, JPK, prawa pracy. CRZ Seneka - szkolenia online oraz stacjonarne dla kadr i księgowości"
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 0
use_updated_at = 0
changefreq = "always"
priority = 0.1

[viewBag]
localeUrl[en] = "/crz-seneka-organizacja-i-przeprowadzenie-szkolen"

[builderList]
modelClass = "Zoom\Seneka\Models\News"
scope = "scopeActive"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "post"
detailsKeyColumn = "id"
detailsUrlParameter = ":id"
recordsPerPage = 4
pageNumber = "{{ :page }}"
==
<?php
use Zoom\Seneka\Models\Settings;
function onStart(){
    $this['slider'] = Settings::instance()->picture_news;
}
?>
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<header id="layout-header">

    {% partial 'header' color="dark" %}
</header>
<div id="carousel" class="slider" data-ride="carousel" style="position:relative;">
    <div class="slider__content">
        <div class="slider__item active">
            <img class="" style="min-height: 100%; min-width: 100%;" src="https://crzseneka.com.pl/storage/app/uploads/public/aktualnosci-z-zakresu-szkolen-vat-jpk-prawa-pracy-odb.jpg" alt="Aktualności o szkoleniach online lub stacjonarnie" >
            <div style="position:absolute; top:40%; color:white; text-align:center; width:100%;"><h1>AKTUALNOŚCI<br /> <span style="font-size:50%">SZKOLENIA VAT, SZKOLENIA JPK, SZKOLENIA Z PRAWA PRACY, SZKOLENIA BDO</span></h1></div>
        </div>
            </div>
</div>

<div class="newspage__content">
    {% for record in records %}
    <div class="newspage__col">

        <div class="newspage__square">
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
            <div class="newspage__square--title">
                <h2 style="font-size:100%; font-weight:bold;">{{record.title}}</h2>
            </div>
            <div class="newspage__square--date">
                {{record.date|date("d.m.Y")}}
            </div>
            <div class="newspage__square--text">
                {{ record.text[:420]|raw }}...
                
            </div>
            <a class= "link" href="https://crzseneka.com.pl/aktualnosci/{{record.id}}/{{str_snake(record.title, '-')}}">
                <div class="newspage__square--link">
                    {{ 'Czytaj więcej'|_ }} <a class="link" ><i class="fas fa-share"></i></a>
                </div>
            </a>
            {% endspaceless %}
        </div>


    </div>
    {% else %}
    <div class="no-data">{{ noRecordsMessage }}</div>
    {% endfor %}



</div>

{% if records.lastPage > 1 %}
    <ul class="pagination d-flex justify-content-center">

        {% if records.currentPage > 1%}
            <li><a href="{{ 1 }}"><i class="fas fa-fast-backward pagination"></i></a></li>
        {% endif %}

        {% if records.currentPage > 1%}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}"><i class="fas fa-backward pagination"></i></a></li>
        {% endif %}

        <li><a class="pagination" style="padding-top: 3px; font-size: 2rem;"> {{ records.currentPage }}</a></li>

        {% if records.currentPage < records.lastPage %}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}"><i class="fas fa-forward pagination"></i></a></li>
        {% endif %}

        {% if records.currentPage < records.lastPage%}
        <li><a href="{{ records.lastPage }}"><i class="fas fa-fast-forward pagination"></i></a></li>
        {% endif %}
    </ul>
{% endif %}