title = "Bądź na bieżąco - Newsletter CRZ Seneka"
url = "/newsletter"
layout = "default"
is_hidden = 0
meta_description = "Zapisz się do naszego newslettera i otrzymuj informacje na temat aktualnych szkoleń VAT, szkoleń BDO oraz szkoleń z prawa pracy."
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 1
use_updated_at = 0
changefreq = "always"
priority = 0.1
seo_keywords = "szkolenia vat, szkolenia BDO, szkolenia z prawa pracy, newsletter"

[viewBag]
localeUrl[en] = "/crz-seneka-organizacja-i-przeprowadzenie-szkolen"
==
<?php
use Zoom\Seneka\Models\Settings;
use Zoom\Seneka\Models\Subscriber;
use Zoom\Seneka\Models\Region;

function onStart(){
    $this['regions'] = Region::all();
    $this['newsletter'] = Settings::instance()->newsletter;
}

function onSubscription(){
    $subscriber = new Subscriber();
    $subscriber->name = Input::get('name',null);
    $subscriber->email = Input::get('email',null);
    $subscriber->city = Input::get('city',null);
    $subscriber->region = Region::find(Input::get('region',null));

    if($subscriber->save()){
        Flash::success('Zapisaliśmy Twoje zgłoszenie.');
        Mail::sendTo('szkolenia@crzseneka.com.pl', 'zoom.seneka::mail.subscriber', ['subscriber' => $subscriber]);
    }
    else{
        Flash::error('Wystąpił błąd');
    }
}
?>
==
<header id="layout-header">
    {% partial 'header' color="dark" %}
</header>
<div class="contact-form" style="margin-top: 200px !important;">
    <div class="contact-form__title">
        {{ 'Newsletter'|_ }}
    </div>
    <div class="contact-form__text">
        Bądź na bieżąco – zapisz się do naszego newslettera, żeby otrzymywać informacje o naszych aktualnych działaniach.
    </div>

    <div class="contact-form__col--lg mx-auto">
        <form data-request="onSubscription" data-request-flash>
            <div class="">
                <label class="contact-form__label" for="subscribersName">{{ 'Imię i Nazwisko'|_ }}</label>
                <input class="contact-form__input" name="name" type="text" class="form-control" id="subscribersName" required>
            </div>

            <div class="">
                <label class="contact-form__label" for="subscribersEmail">{{ 'E-mail'|_ }}</label>
                <input class="contact-form__input" name="email" type="email" class="form-control" id="subscribersEmail" required>
            </div>

            <div class="">
                <label class="contact-form__label" for="subscribersCity">{{ 'Miasto'|_ }}</label>
                <input class="contact-form__input" name="city" type="text" class="form-control" id="subscribersCity" required>
            </div>

            <div class="" >
                <label class="contact-form__label">{{ 'Wybierz województwo'|_ }}:</label><br>
                <select name="region" class="contact-form__form--choose">
                    <option disabled hidden selected>{{ 'Województwo'|_ }}</option>
                    {% for region in regions %}
                    <option value="{{ region.id }}">
                        {{ region.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="text-center mt-2">
                <button type="submit" class="btn btn-primary">{{ 'Zapisz się'|_ }}</button>
            </div>
        </form>
    </div>
</div>