title = "CRZ Seneka | Szkolenia VAT, BDO, JDK, prawo pracy"
url = "/aktualnosci/:id/:title"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 1
use_updated_at = 0
changefreq = "always"
priority = 0.1

[viewBag]
localeUrl[en] = "/crz-seneka-organizacja-i-przeprowadzenie-szkolen"

[builderDetails]
modelClass = "Zoom\Seneka\Models\News"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "id"
notFoundMessage = "Brak wpisu"

[builderList]
modelClass = "Zoom\Seneka\Models\News"
scope = "scopeActive"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "Brak wpisów"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}


{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<header id="layout-header">

    {% partial 'header' color="light" %}
    <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
    <script>
    $('document').ready(function(){
         $('meta[name=description]').remove();
         $('head').append( '<meta name="description" content="{{ record.title }}">' );
    });
    </script>
</header>

<div class="newspage__item">
    {% if record and record.is_active %}
    <div class="newspage__item-date">
        {{ record.date|date("d.m.Y") }}
    </div>
    <div class="newspage__item-title">
        <h1 style="font-size:110%;">{{ record.title }}</h1>
    </div>
    <div class="newspage__item-text">
        {{ record.text|raw }}
    </div>
    {% else %}
        <div class="newspage__item-text">
            {{ notFoundMessage }}
        </div>
    {% endif %}
</div>
<div class="newstitle">{{ 'Najnowsze'|_ }}</div>
<div class="newspage__content">

    {% for record in records|slice(0, 4) %}
    <div class="newspage__col">
        <div class="newspage__square">
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
            <div class="newspage__square--date">
                {{record.date|date("d.m.Y")}}
            </div>
            <div class="newspage__square--title">
                {{record.title}}
            </div>
            <div class="newspage__square--text">
                {{record.text[:420]|raw}}...
            </div>
            <a href="{{ 'post'|page({id : record.id}) }}" class="link">
                <div class="newspage__square--link" >
                    {{ 'Czytaj więcej'|_ }} <a class="link" ><i class="fas fa-share"></i></a>
                </div>
            </a>
            {% endspaceless %}
        </div>
    </div>
    {% else %}
    <div class="no-data">{{ noRecordsMessage }}</div>
    {% endfor %}

</div>
</div>