title = "Poznaj naszą firmę oraz wizję - CRZ Seneka"
url = "/procedura-reklamacji"
layout = "default"
is_hidden = 0
meta_title = "Procedura reklamacji - CRZ Seneka"
meta_description = "Od 2005 r. przeprowadzamy szkolenia vat, szkolenia bdo, szkolenia jpk oraz szkolenia z prawa pracy - stacjonarnie jak i online."
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 1
use_updated_at = 0
changefreq = "always"
priority = 0.1
og_title = "Poznaj naszą firmę"
og_description = "Od 2005 r. przeprowadzamy szkolenia vat, szkolenia bdo, szkolenia jpk oraz szkolenia z prawa pracy - stacjonarnie jak i online."
og_type = "website"
og_image = "/as.png"
seo_keywords = "szkolenia vat, szkolenia bdo, szkolenia jpk, szkolenie prawo pracy, szkolenia vat online, szkolenia bdo online, szkolenia jpk online, szkolenie prawo pracy online"

[viewBag]
localeUrl[en] = "/crz-seneka-organizacja-i-przeprowadzenie-szkolen"

[builderList]
modelClass = "Zoom\Seneka\Models\Teacher"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No founds"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<?php
use Zoom\Seneka\Models\Settings;

function onStart(){

    $texts = [];


    $texts['company_history'] = Settings::instance()->company_history;
    $texts['company_about'] = Settings::instance()->company_about;
    $texts['company_teachers'] = Settings::instance()->company_teachers;
    $texts['company_persons_title'] = Settings::instance()->company_persons_title;
    $texts['company_persons_value'] = Settings::instance()->company_persons_value;
    $texts['company_range_title'] = Settings::instance()->company_range_title;
    $texts['company_range_value'] = Settings::instance()->company_range_value;
    $texts['company_cities_title'] = Settings::instance()->company_cities_title;
    $texts['company_cities_value'] = Settings::instance()->company_cities_value;

    $this['texts'] = $texts;
    $this['slider'] = Settings::instance()->picture_company;
}
?>
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<!-- Header -->
<header id="layout-header">
    {% partial 'header' color="dark" %}
</header>
<div id="carousel" class="slider" data-ride="carousel" style="position:relative;">
    <div class="slider__content">
        <div class="slider__item active">
            <img class="" style="min-height: 100%; min-width: 100%;" src="https://crzseneka.com.pl/storage/app/uploads/public/o-firmie-crz-szkolenia.jpg" alt="Parę słów o nas - CRZ Seneka" >
            <div style="position:absolute; top:40%; color:white; text-align:center; width:100%;"><h1>Centrum Rozwoju Zawodowego Seneka<br /> <span style="font-size:70%">Procedura reklamacji</span></h1></div>
        </div>
            </div>
</div>

<div class="aboutpage__content">
    <div class="aboutpage__title">
        {{ 'Procedura reklamacji i postępowania w przypadku wystąpienia sytucji nieprzewidzianych'|_ }}
    </div>
    
    <div class="form__row">
       <div class="col form__checktext">
         <center> <p> §1<br><u> <b>Postanowienia ogólne</b></u></p></center>
           <p> Poniższa procedura stanowi regulamin świadczenia usług szkoleniowych i doradczych i ma na celu wspieranie jakości usług edukacyjnych poprzez ochronę praw klienta jak i firmy doradczo-szkoleniowej.</p>
           
           <center> <p>§2<br> <u> <b>Organizator</b></u></p></center>
           <p>1. Centrum Rozwoju Zawodowego SENEK s.c. Agnieszka Nowak, Beata Mądroszyk
65-021 Zielona Góra, ul. Gen. Dąbrowskiego 40/1
NIP: 973-081-46-71 REGON: 080006658</p>
           <p>2. Powyższy adres jest równocześnie adresem korespondencyjnym firmy.</p>
<p>3. Adres dla zgłoszeń elektronicznych: biuro@crzseneka.com.pl.
Firma organizuje zarówno usługi otwarte jak i zamknięte, wykonując usługi szkoleniowe i doradcze z należytą starannością w zakresie i terminach szczegółowo opisanych w przedstawionej i zaakceptowanej ofercie.</p>
           <center> <p>§3 <br><u> <b>Zobowiązania stron</b></u></p> </center>
           <p>1. Klient ma prawo oczekiwać, że:</p>
           <ol type="a">
<li>zostaną spełnione założone cele,</li>
<li>zostaną zapewnione komfortowe warunki pracy (jeśli za organizację odpowiadała firma),</li>
<li> prowadzący będzie posiadał wiedzę merytoryczną i praktyczną dotyczącą zagadnień danego tematu realizowanej usługi,</li>
<li>prowadzący przeprowadzi zajęcia w sposób profesjonalny zgodnie ze specyfiką kształcenia osób dorosłych,</li>
<li>w czasie realizacji usługi zostanie zrealizowany zakres merytoryczny i praktyczny,
<li>firma dołoży wszelkich starań, aby dopasować usługę do potrzeb klienta, szczególnie w przypadku realizacji usługi zamkniętej.</li>
<li>firma spełni warunki formalne udziału w usłudze oraz zawartej umowy, w tym wyda materiały i zaświadczenia ukończenia szkolenia uczestnikom.</li>
        </ol>
           
<p>2. Firma ma prawo oczekiwać, że:</p>
           <ol type="a">
<li>uczestnicy usługi w pełni zaangażują się w proces usługi, oraz będą brali udział w ćwiczeniach i zadaniach, a także dostosują się do wspólnie ustalonych w czasie realizacji usługi zasad („kontrakt”).</li>
<li>uczestnicy dostosują się do ustalonych w czasie realizacji usługi reguł</li>
<li>uczestnicy wypełnią ankiety badania potrzeb w sposób umożliwiający dopasowanie programu usługi, a w przypadku usługi zamkniętej, klient udostępni wszystkie niezbędne informacje umożliwiające opracowanie programu zgodnego z potrzebami.</li>
<li>w razie zgłoszenia potencjalnie trudnych sytuacji lub zastrzeżeń dotyczących realizacji usługi (np. warunków na sali szkoleniowej zapewnionej przez Klienta, która może utrudnić realizację usługi) przez trenera lub firmę w formie notatki przed usługą, klient ustosunkuje się do rekomendacji przed usługą, w celu uniknięcia trudnych sytuacji podczas realizacji usługi, lub też na drodze pisemnej poinformuje o podtrzymaniu swoich ustaleń, co wyklucza późniejszą reklamację.</li>
<li>uczestnicy przybędą na czas oraz będą brali udział w całości przewidzianego procesu, oraz podpiszą się na liście obecności, co zostanie potwierdzone zaświadczeniem, w przypadku uczestniczenia w 80% czasu.</li>
<li> zostaną spełnione inne formalne warunki umowy,</li>
<li>w przypadku realizowanych w ramach projektów dofinansowanych z funduszy unijnych uczestnicy dopełnią wszystkich formalności przewidzianych regulaminem projektu.</li>
               </ol>
<p>3. Obowiązki firmy:</p>
           <ol type="a">
<li>Firma zobowiązuje się do dołożenia wszelkich starań oraz realizacji usług szkoleniowych i doradczych z należytą starannością, zgodnie z zaakceptowaną ofertą lub umową.</li>
<li>W przypadku wystąpienia sytuacji nieprzewidzianych firma podejmie natychmiastowe działania, zgodnie z ustalonymi procedurami.</li>
                </ol>
           <center><p> §4<br><u> <b>Reklamacje</b></u></p></center>
           <p>1. Klient ma prawo składania reklamacji usługi szkoleniowej i doradczej, jeżeli nie została ona zrealizowana zgodnie z ofertą lub umową.</p>
<p>2. Reklamacja zostanie uwzględniona wyłącznie, jeżeli średnia ocen z danej usługi jest niższa niż 30% odpowiedzi TAK uzyskanych z ankiety oceny, zarówno otwartego jak i zamkniętego. Aby uniknąć subiektywnej oceny poszczególnych uczestników zaniżających ogólną średnią ocen, wzięte pod uwagę zostaną oceny wszystkich uczestników danej usługi, co pozwoli na jego obiektywną ocenę. Reklamacja nie zostanie zatem uwzględniona, w przypadku, gdy średnia ocen ze w ankiecie wynosi równo lub powyżej 30%, niezależnie od oceny osoby składającej reklamację.</p>
<p>3. Skarga lub reklamacja powinna zostać złożona w formie pisemnej na adres:
Centrum Rozwoju Zawodowego SENEKA s.c. Agnieszka Nowak, Beata Mądroszyk
65-021 Zielona Góra, ul. Gen. Dąbrowskiego 40/1 na formularzu stanowiącym Załącznik nr 1 do niniejszej procedury za pośrednictwem poczty tradycyjnej lub poczty elektronicznej na adres: biuro@crzseneka.com.pl lub doręczona osobiście do siedziby firmy.</p>
<p>4. Zgłoszenie reklamacyjne powinno zawierać nazwę firmy oraz imię i nazwisko uczestnika, dane kontaktowe osoby zgłaszającej reklamacje, przedmiot reklamacji (nazwa usługi, termin i miejsce realizacji), uzasadnienie merytoryczne i formalne reklamacji, oczekiwania wobec firmy.</p>
<p>5. Reklamację można złożyć najpóźniej w ciągu 7 dni kalendarzowych licząc od dnia zakończenia usługi.</p>
<p>6. Organizator usługi zastrzega sobie prawo do pozostawienia reklamacji bez rozpatrzenia, jeżeli reklamacja zostanie złożona po przekroczeniu terminu, o którym mowa w § 4 pkt 4. niniejszej procedury.</p>
<p>7. Organizator usługi ma 14 dni roboczych na rozpatrzenie reklamacji, a w przypadkach wymagających dodatkowych czynności wyjaśniających czas rozpatrywania reklamacji może ulec wydłużeniu maksymalnie do 21 dni roboczych.</p>
<p>8. Organizator usługi ma prawo zwrócić się do składającego skargę lub reklamacje o dodatkowe pisemne wyjaśnienia.</p>
<p>9. Organizator usługi zastrzega sobie prawo do braku odpowiedzi na złożoną reklamację w przypadku, gdy będzie niezrozumiała albo gdy będzie zaprzeczała zapisom zawartym w umowie lub procedurze zarządzania jakością usług szkoleniowych i doradczych.</p>
       <center>   <p>§5 <br><u> <b>Rekompensata</b></u></p> </center> 
          <p> W przypadku uznania reklamacji w całości lub częściowo, firma zaproponuje jedną z następujących form rekompensaty:</p>
<p>  1. powtórzenie usługi w innym terminie,</p>
<p> 2. realizacja dodatkowej formy wsparcia, uzupełniającej usługę,</p>
<p>  3. zniżka na kolejne usługi, według indywidualnych ustaleń,</p>
<p> 4. otrzymanie dodatkowych materiałów edukacyjnych.</p>
           <center> <p>§6 <br><u> <b>Kodeks cywilny</b></u></p></center>
           <p>Pozostałe kwestie związane z reklamacją normowane są przez Kodeks Cywilny.</p>
        <center><p> §7<br><u> <b>Procedura postępowania w przypadku wystąpienia działań nieprzewidzianych</b></u></p></center>
           <p>1. Zachowanie zasad bezpieczeństwa na sali szkoleniowej:</p>
           <ol type="a">
               <li>Firma organizuje szkolenia w salach szkoleniowych spełniających zasady BHP i PPO.</li>
               <li>W przypadku wystąpienia sytuacji zagrażających bezpieczeństwu uczestników, zastosowanie mają przepisy BHP i PPO.</li>
           </ol>
           <p>2. Ogólne zasady postępowania w sytuacjach nieprzewidzianych:</p>
           <ol type="a">
               <li>Trener realizujący usługę ma obowiązek niezwłocznie skontaktować się z Przedstawicielem Firmy, w celu podjęcia kroków do rozwiązania zaistniałych problemów możliwie jak najszybciej.</li>
               <li>Przedstawiciel firmy ma obowiązek niezwłocznie skontaktować się z Przedstawicielem Klienta w celu przedstawienia sytuacji oraz ustalenia kroków do rozwiązania zaistniałych problemów możliwie jak najszybciej.</li>
           </ol>
           <p>3. Choroby lub inne sytuacje powodujące nieobecność trenera: <br>
Firma zastrzega sobie prawo do zaproponowania zmiany terminu realizacji usługi nie później niż 2 dni przed datą jego rozpoczęcia bez ponoszenia konsekwencji.</p>
           <p>4. Brak dostępności miejsca szkolenia:</p>
            <ol type="a">
                <li>W przypadku braku dostępności miejsca realizacji usługi Firma podejmie działania do zapewnienia innej sali szkoleniowej w tym samym budynku, o ile zachowuje wymagany standard.</li>
                <li>W przypadku usługi otwartej Firma zastrzega sobie prawo do odwołania usługi w przypadku braku możliwości zapewniania odpowiedniej sali zastępczej.</li>
           </ol>
           <p>5. Pozostałe procedury pozostają bez zmian.</p>
           <p>6. Udział osób nietrzeźwych. Poza standardowymi procedurami postępowania, trener ma prawo poproszenia uczestnika o opuszczenie sali, a w wyjątkowych sytuacjach, żądania opuszczenia sali, jeżeli zachowanie uczestnika uniemożliwia realizację usługi.</p>
            </div>
</div>