%triangle{
        @extend .d-inline-block;
        content: '';
        position: absolute;
        right: 0;
        bottom: 0px;
        width: 0; 
        height: 0; 
        border-right: 120px solid $color-fourth;
        border-top: 120px solid transparent;
        @extend .p-0;    
}

.attachments{
    @extend .row;
        &__sq{
            @extend .col-md;
            @extend .p-0;
            color: #fff;
            font-size: 13pt;
            &-box{
              @extend .text-center;
              @extend .py-5;
              @extend .px-5;
              height: 134px;
              &:after{
                @extend %triangle;
              }
            }
            &:nth-child(3n+1) {
              background-color: $color-second-box;
            }
            &:nth-child(3n+2) {
              background-color: $color-first;

            }
            &:nth-child(3n+3) {
              background-color: $color-third;
            }
    }
        &__icon{
        position: absolute;
        bottom: 15px;
        right: 12px;
        color: #fff;
        font-size: 22pt;
            &--2{
                right: 42px;
            }
    }
}