
    <label>Kurs</label>
    <?php if($this->widget->form->context == 'update'): ?>
        <input type="hidden"name="<?=$field->fieldName; ?>" value="<?=$value; ?>">
        <h4>
        <?php
            $lesson = Zoom\Seneka\Models\Lessons::find($value);
        ?>
        <?=strip_tags($lesson->title)?>,
        <?=$lesson->price?>,
        <?php if($lesson->location): ?>
            <?=$lesson->location->city ?>, <?=strip_tags($lesson->location->name) ?>,
            <?=(new \DateTime($lesson->date))->format("d.m.Y H:i:s"); ?>
        <?php endif; ?>
        </h4>
    <?php else: ?>
        <?php
         $lessons = Zoom\Seneka\Models\Lessons::all();
        ?>
        <select name="<?=$field->fieldName?>" class="form-control custom-select">
            <?php
            foreach($lessons as $lesson):
            ?>
            <option value="<?=$lesson->id?>">
                <?=strip_tags($lesson->title)?>,
                <?=$lesson->price?>,
                <?php if($lesson->location): ?>
                <?=$lesson->location->city ?>, <?=strip_tags($lesson->location->name) ?>,
                <?php endif; ?>
                <?=(new \DateTime($lesson->date))->format("d.m.Y H:i:s"); ?>
            </option>
            <?php endforeach; ?>
        </select>
    <?php endif; ?>