
<div class="form-group text-field span-left">
    <label>Oświadczenie o finansowaniu szkolenia:</label>
    <div>
    <?php

        switch($value)
        {
            case 1:
                    echo 'w całości zgodnie z treścią art. 43 ust. 1 pkt 29 lit. c ustawy z dnia 11.03.2004 r. o podatku od towarów i usług (Dz.U. Nr 54, poz. 535 ze zm.)';
                break;
            case 2:
                    echo 'w co najmniej 70% zgodnie z treścią § 13 ust. 1 pkt 20 rozporządzenia Ministra Finansów z dnia 22.12.2010 r. w sprawie wykonania niektórych przepisów ustawy o podatku od towarów i usług (Dz. U. Nr 246, poz. 1649)';
                break;
            default:
                    echo 'Nie dotyczy';
        }
    ?>
    </div>
</div>