.newspage{
    @extend .container-fluid;
    @extend .m-0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    @extend .p-0;
    position: relative;
    top: 0px;
    &__content{
        @extend .container;
        @extend .row;
        @extend .justify-content-around;
        @extend .my-5;
        @extend .p-0;
        @extend .mx-auto;
        margin-bottom: 200px !important;
    }
    &__col{
        @extend .col-12;
    }
    &__square{
        background-color: $color-news;
        //padding-left: 15px;
        //padding-right: 15px;
        //min-height: 500px;
        @extend .p-4;
        @extend .mb-4;
        &--date{
            @extend .pt-4;
            color: $color-date;
            font-size: 1rem;
        }
        &--title{
            @extend .pt-3;
            @extend .font-weight-bold;
            color: $color-second;
            font-size: 1.1rem;
        }
        &--text{
            @extend .pt-3;
            color: $color-second;
            font-size: 0.9rem;
        }
        &--link{
            color: $color-second;
            font-size: 1rem;
            @extend .text-right;
            @extend .font-weight-bold;
            @extend .py-4;
            @extend .d-block;
            
            
        }
        &--button{
            @extend .btn;
            @extend .btn-light;
            @extend .btn-outline-primary;
            @extend .my-5;
            color: $color-second;
            border-color: $color-second;
            width: 200px;
            background-color: transparent;
            &:hover{
                background-color: transparent;
                color: $color-second;
                border-color: $color-first;
            }
        }
    }
    &__item{
        @extend .container;
        @extend .my-5;
        @extend .text-center;
        padding-top: 100px;
    }
    &__item-date{
        color: $color-fourth;
        font-size: 1.5rem;
        @extend .font-weight-bold;
        @extend .pt-3;
    }
    &__item-title{
        color: $color-second;
        font-size: 2rem;
        @extend .font-weight-bold;
        @extend .pt-3;
    }
    &__item-text{
        color: $color-second;
        font-size: 1.2rem;
        @extend .pt-5;
        max-width: 800px;
        @extend .mx-auto;
        @extend .text-justify;
    }
}
.newstitle{
    @extend .text-center;
    color: #2c2c6c;
    font-size: 2rem;
}
