.pag{
    margin-top: 100px;
    &__list{
        @extend .pagination;
        @extend .pagination-lg;
        @extend .justify-content-center;

    }
    &__item{
        @extend .page-item;


        &--active{
            @extend .active;
            & > .pag__link{
                background-color: brown !important;
            }

        }
        &--disabled{
            @extend .disabled;
        }
    }
    &__link{
        @extend .page-link;
        @extend .font-weight-bold;
        @extend .px-4;
        @extend .py-0;

    }
}

.dropdown-menu {
    height: 500px;
    overflow: auto;
    .dropdown-item {
        font-size: 10px;
        padding: 0.25rem 1rem 0 .5rem;
        width: 100%;
        @media (min-width: 320px) {
            font-size: 11px;
            padding: 0.15rem .1rem 0 .3rem;
        }
        @media (min-width: 360px) {
            font-size: 13px;
            padding: 0.25rem .5rem;
        }
        @media (min-width: 767px) {
            font-size: 16px;
            padding: 0.15rem 1.5rem;
        }
        @media (max-height: 960px) {
            font-size: 16px;
        }
    }
}

.dropdown-menu.show {
    position: sticky;
    width: 100%;
    @media (min-width: 767px) {
        width: auto;
    }
}
