.footerback{
    //background-color: theme-color('primary');
    background-color: $color-next-gray;
    @extend .p-0;
    @extend .m-0;
}
.footer{
    @extend .row;
    width: 75%;
    margin-left:auto;
    margin-right: auto;
    border-bottom: 1px solid $color-second;
    color: $color-second;

    &__col{
        @extend .col-md;
        margin-top: 1rem;
        @extend .p-0;
        font-size: 0.8rem;
        &--logo{
            
        }
        &--text{
            margin-top: 1rem;
            @extend .pl-1;
        }
        &--icon{
            font-size: 2rem;
            @extend .pl-1;

        }
        &--menu{
            @extend .col-lg;
            @extend .p-0;
        }
        &--contact{

            margin-top: 50px;
            @extend .container;
        }
    }
}

@include media-breakpoint-down(sm) {

    .footer{
        &__col{
            margin-top: 0.5rem;
            &--menucol{
                display: none;
            }
        }
    }
}


.menu{
    @extend .row;
    &__col{
        @extend .col-sm;
        @extend .p-0;
    }
    &__link{
        text-decoration: none;

        &:hover{

        }
    }
    &__text{
        @extend .col-sm;
        padding-top: 1rem;
    }
}
.contact{
    @extend .row;
    &__icon{
        @extend .pr-4;
        @extend .pt-2;
        font-size: 25pt;
    }
    &__text{
        @extend .p-0;
        &--bold{
            @extend .font-weight-bold;
        }
    }
}
.signature{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    @extend .p-1;
    color: $color-second;
    text-align: right;
}