%nazwa{
                @extend .d-inline-block;
                content: '';
                position: absolute;
                right: 0;
                bottom: 0px;
                width: 0; 
                height: 0; 
                border-right: 100px solid $color-fourth;
                border-top: 100px solid transparent;
                @extend .p-0;  
}

.triple{
    @extend .row;
    &__column{
        @extend .col;
        @extend .p-0;
        min-height: 200px;
        @extend .position-relative;
        &:before{
            @extend %nazwa;
        }
        &:nth-child(4n+1) {
            background-color: $color-third;
        }
        &:nth-child(4n+2) {
            background-color: $color-first;

        }
        &:nth-child(4n+3) {
            background-color: $color-second-box;
        }
        &:nth-child(4n+4) {
            background-color: darken($color-second, 10%);
        }
    }
}
.square{
    color:#fff;
    @extend .px-5;
    &__top{
        font-size: 15pt;
        @extend .pt-5;
    }
    &__title{
        font-size: 24pt;
        @extend .pt-0;
        text-transform: uppercase;
    }
    &__mid{
        font-size: 12pt;
        @extend .pt-3;
    }
    &__bot{
        font-size: 12pt;
        @extend .pt-4;
    }
    
    &__number{
        font-size: 30pt;
        @extend .pt-0;
        @extend .pb-5;
    }
    &__icon{
        font-size: 30pt;
        position: absolute;
        bottom: 15px;
        right: 15px;
        &--icon{
            color: #fff;
            font-size: 18pt;
        }
    }

}
.link-2{
    color: white;
}