.form{
    &__container{
        @extend .container;
        margin-top: 150px;
    }
    &__box{
        @extend .my-5;
    }
    &__title{
        font-size: 2.5rem;
        color: $color-second;
        @extend .text-center;
        &-sub{
            @extend .w-100;
            font-size: 1rem;
        }
        &--sm{
            font-size: 1.7rem;
            color: $color-second;
        }
    }
    &__remove{
        @extend .col-12;
        @extend .text-right;
        &-button{
            @extend .btn;
            @extend .btn-sm;
            @extend .btn-link;
            @extend .float-right;
        }
    }
    &__button{
        @extend .btn;
        @extend .btn-primary;
        @extend .text-white;
    }
    &__text{
        font-size: 1rem;
        color: $color-second;
        @extend .mt-3;
    }
    &__checktext{
        font-size: 1rem;
        color: $color-second;
    }
    &__row{
        @extend .row;
        @extend .mt-4;
        &--right{
            @extend .justify-content-end;
        }
        &--center{
            @extend .justify-content-center;
        }
    }
    &__col{
        @extend .col-md-6;
        @extend .col-12;
        @extend .my-3;
        &--lg{
            @extend .col-12;
            @extend .my-3;
        }
    }
    &__select{
        width: 100%;
        @extend .text-center;
        border-radius: 15px;
        font-size: 1rem;
        border: 1px $color-second solid;
        @extend .p-2;
        //height: 50px;
//        @extend .d-flex;
//        @extend .justify-content-end;
    }
    &__checkbox{
        @extend .p-5;
//        @extend .d-flex;
//        @extend .justify-content-center;
//        @extend .align-items-center;
    }
}