
.about{
    @extend .row;
//    @extend .align-items-stretch;
        &__column{
            @extend .col-12;
            &--image{
                @extend .col-lg-4;
                //background-image: url("../images/photo7.jpg");
                background-size: 100% 100%;
                min-height: 300px;
                background-position: center center;
                background-size: cover;
                width: 40vw;
                min-height: 40vw;
                position: relative;
            }
            &--text{
                @extend .col-lg-8;
                background-color: $color-next-gray;
                width: 40vw;
                min-height: 40vw;
                @extend .pb-5;
            }
        }
}
.box{
    font-family: Tahoma;
    @extend .text-center;
    color: theme-color('primary');
    &__title{
        @extend .h1;
        padding-top: 15%;
        letter-spacing: 1.5pt;
    }
    &__text{
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 5%;
        font-size: 16pt;
    }
    &__down{
        &--button
        {
            @extend .btn;
            @extend .btn-outline-primary;
            //@extend .btn-outline-light;
            @extend .btn-lg;
            //background-color: $color-first !important;
            width: 200px;
            font-size: 10pt;
            margin-top: 70px;
            margin-bottom: 60px;
            &:hover{
                //background-color: #fff !important;
            }
        }
    }
}
