.aboutpage{
    @extend .container-fluid;
    @extend .m-0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    @extend .p-0;
    position: relative;
    top: 0px;
    &__slider{
        @extend .carousel;
        @extend .container-fluid;
        @extend .p-0;
        &__inner{
            height: 650px;
            background: black;
        }
        &__item{
            height: 100%;
            opacity: 0.6;
        }
        &__text{
            font-size: 3.5rem;
            color: white;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            @extend .d-flex;
            @extend .justify-content-center;
            @extend .align-items-center;
//            left: calc(50%-150px);
//            top: calc(50%-12.5px);
        }
    }
    &__content{
        @extend .my-5;
        @extend .py-5;
        @extend .container;
    }
    &__title{
        font-size: 3.5rem;
        color: $color-second;
        @extend .text-center;
        @extend .p-3;
        
    }
    &__text{
        font-size: 1rem;
        max-width: 1000px;
        @extend .mx-auto;
        color: $color-second;
        @extend .text-center;
        @extend .p-3;
        font-weight: 600;
    }
    &__row{
        @extend .mt-5;
        @extend .row;
        @extend .align-items-end;

    }
    &__col{
        @extend .col-12;
        @extend .col-md-4;
        @extend .my-4;
    }
    &__row2{
        @extend .row;
        @extend .my-4;
        @extend .justify-content-around;
    }
    &__col2{
        &--sm{
            @extend .col-md-4;    
            @extend .my-4;
        }
        &--lg{
            @extend .col-md-8;
            @extend .my-5;
            @extend .align-items-center;
        }
    }
    &__number{
        font-size: 2rem;
        color: $color-second;
        @extend .font-weight-bold;
        @extend .text-center;
    }
    &__sign{
        font-size: 1rem;
        color: $color-second;
        @extend .text-center;
    }
    &__photo{
        //border-radius: 100%;
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 200px;
        @extend .mx-auto;
    }
    &__name{
        @extend .text-left;
        color: $color-second;
        font-size: 1.3rem;
        @extend .mt-2;
    }
    &__stan{
        @extend .d-none;
        @extend .text-left;
        color: $color-fourth;
        font-size: 1rem;
        @extend .mt-2;
    }
    &__opis{
        @extend .text-left;
        color: black;
        font-size: 0.8rem;
        //@extend .mx-auto;
        max-width: 600px;
        @extend .mt-3;
    }
}